[2022-01-28 22:58] bpgerber commented on #8305
Interestingly, this happens to me on my brand new debian baremetal docker install.

On my old debian server which has docker at the exact same version of every component, but was upgraded starting from an early 2020 docker version does not have this issue. The difference was the parent folder permissions.

The difference between them for me was that the secrets directory (not the files themselves)

[2022-01-29 01:18] rosmcmahon commented on #8945
Ok... I'm hearing don't do that, but not what to do?

FYI, I don't have docker-compose v1 installed, if that makes a difference.

[2022-01-29 08:02] vudnd18 commented on #8445
thank bro

[2022-01-29 23:02] marekkon commented on #8223
I really like the idea of breaking the website name in definition from the host name on a shared network and this functionality would be very helpful.

I also have a second scenario where I would see this functionality. When I work on several branches using _worktree_, I wish I could switch to another branch without having to turn off the containers of the other branch. Currently, it is not possib

[2022-01-30 03:33] LouWii opened #9131 "iptables config is missing a rule for accessing container from inside the host"
**Description**

I've setup `iptables` with strict `DROP` rules. It looks like Docker is missing iptables configuration for local container access. I can access the container from outside the server, but not from inside.

**Steps to reproduce the issue:**
0. Install docker and docker-compose
1. Setup `iptables` **to drop all OUTPUT packets**, but keep some of the required ones to keep your server

[2022-01-30 04:15] neverkas commented on #7669
I am still interested in this functionality.

[2022-01-30 09:39] emersonf commented on #9045
@ulyssessouza thanks for looking into this. I think if the documentation can be read in different ways, it's worth clarifying.

It doesn't say they aren't, either. This sentence implies they are:

So I think the documentation should be updated to avoid ambiguity.

But far more interestingly than the documentation itself, I think it would be very useful if the shell-defined variables _would_ have p

[2022-01-30 11:56] noamzilo commented on #5286
it **avoids** the issue.

The point with automatic tests is, well... automation.

I have to run docker-compose down after every time I run my test . Clearly I am missing something.

[2022-01-30 13:44] nathanweeks commented on #745
A top-level project `name` property was added to the Compose spec recently:

https://github.com/compose-spec/compose-spec/pull/206
https://github.com/compose-spec/compose-spec/blob/master/spec.md#name-top-level-element

Hopefully it gets implemented in `docker compose` soon!

[2022-01-30 16:39] xf- commented on #8825
@ndeloof there are even more issues. I saw multiple issues open and also noticed some stuff works with environments and if moved  to an env file it breaks. e.g. PHP-FPM parameter with a `.` in variable name and godotenv has more or less no docu about the supported env features.

[2022-01-31 12:35] blerins opened #9132 "COMPOSE_CONVERT_WINDOWS_PATHS not working on v2"
Hello, I am having trouble to use docker-compose v2 on Windows without Docker Desktop with volumes. I have Docker installed on WSL2 (Ubuntu distro) with remote API enabled.

On Windows I am using Docker CLI with the DOCKER_HOST variable setted up.

Environment:
[code]

Using docker-compose up on v2 is failing
[code]

While doing it so on v1 succeds
[code]

In the config command we already see the

[2022-01-31 14:17] smidge84 opened #9133 "Docker compose config omitting the compose file version element"
**Description**

When using Docker compose config to interpolate service definitions into a single flat stack file, the output omits the "version" field which specifies the compose file version. The is required for deployment, either via Docker compose of Docker swarm, resulting in the following error message:

"unsupported Compose file version: 1.0"

This is because, without the "version" field i

[2022-01-31 17:52] Zainzzkk commented on #9087
This has been fixed in docker desktop 4.4.4

[2022-01-31 19:21] mmguero opened #9134 "docker-compose logs: unicode characters/emojis represented incorrectly when tty: true"
**Description**

When a service outputs a unicode character and that service is defined with `tty: true`, the unicode character is outputted as `����` when viewed via `docker-compose logs`

**Steps to reproduce the issue:**

1. Create this `docker-compose.yml` file

[code]

2. `docker-compose up -d`
3. `docker-compose logs -f`

**Describe the results you received:**

[code]

**Describe the results

[2022-01-31 22:20] Kangaroux opened #9135 "Clarify differences between compose --env-file arg and env_file directive"
The `--env-file` arg for compose specifies a .env file that can be used from within the docker-compose file itself. For example, `image: my-app:$TAG`. The `env_file` YAML directive also specifies a .env file, but this file is loaded into the container at runtime, and has nothing to do with the `--env-file` option, despite having the same name.

This caused a lot of confusion for me, it's not calle

[2022-01-31 22:22] Kangaroux commented on #9133
I'm a bit confused, what's your goal? If you need the compose file contents you can use `cat docker-compose.yml`

[2022-02-01 05:22] rbuckland commented on #3541
Where is this ticket up to ?
I would expect that

[code]
would have expected
1. give the foobar image a DNS entry of `foobar` and `foobar.test-local` in the internal DNS server. It doesn't
2. to give all containers the default `service-name` and `service.${COMPOSE_PROJECT_NAME}`

the latter would mean simply

[code]
automatically gives the entries `foobar` and `foobar.test-local`
This would make c

[2022-02-01 05:57] pseusys commented on #7964
We really need this bug fixed! What's the progress?

[2022-02-01 10:44] pooya-mohammadi commented on #6764
@Blobonat @bentcoder
Would you mind sharing your daemon.json and your docker-compose.yml?

[2022-02-01 10:53] Blobonat commented on #6764
@pooya-mohammadi

`daemon.json`:
[code]

`docker-compose.yml`:
[code]

[2022-02-01 11:05] ndeloof commented on #7964
Compose v1 development is now paused as Compose v2 has been release. I don't expect some significant progress made for this issue regarding the python codebase.

[2022-02-01 11:06] ndeloof commented on #9133
Docker Compose adopted the Compose Specification, which makes the `version` element obsolete and irrelevant.

[2022-02-01 12:33] reba0 opened #9136 "default Network subnet will be incremented on each down and up (Version 2.2.3"
Hi
I have tested  the lastst version  2.2.3 on linux
I saw that on each docker-compose down  and up  the Network Subnet  will be incremented by 1 ( eg  172.18.0.0 -> 172.19.0.0 -> 172.20.0.0 aso )

Tested on Raspi with 64 bit
with v2.2.3/docker-compose-linux-aarch64

docker-compose  Network part :
.....
networks:
  #Docker-compose V2.x.x
  default:
    name: iotstack_default

tryed also to fix the

[2022-02-01 13:53] #9076 closed

[2022-02-01 15:26] samgarvis commented on #5177
Add sudo to the front of the docker-compose call

[2022-02-01 21:03] pseusys commented on #7964
It is still an issue for Docker Compose v2, however the error message changed:
For code line `ports: ${FIRST_CONST}:${SECOND_CONST}` it produces error: `error decoding 'Ports': Invalid containerPort: ${SECOND_CONST}`.
Docker compose version 2.2.3.

[2022-02-01 21:09] pseusys commented on #7964
Update: error appears for every variable in `ports` section, equally in cases: `- ${VARIABLE}`, `- 42:${VARIABLE}`, `- ${VARIABLE}:42` and `${FIRST_VARIABLE}:${SECOND_VARIABLE}`

[2022-02-02 00:09] gaby commented on #8742
I'm running into this issue just by using `gateway: 10.8.1.1`. No matter what we try it doesnt use the gateway we provide.

We waited a few months before committing to migration to compose v2 and this bug essentially broke our whole infrastructure. Debating wether to just fork v1 and forget about v2 with the amount of bugs.

[2022-02-02 03:42] frob commented on #7326
We could extend profile support to automatically select an alternate dotEnv file, but I wonder this would trigger too much unexpected side effects to use who already have sibling dot env file in their project to be passed to containers (not compose).

How about just allowing for multiple `--env-file` arguments to be parsed? Then it would be user choice `docker compose --env-file .env up` or `docke

[2022-02-02 05:49] pooya-mohammadi commented on #6764
@Blobonat
Tnx for the sharing. Do you know how long syncing intervals are? Or how they can be modified?

[2022-02-02 08:45] kristianheljas commented on #722
It does seem that the behavior of port ranges (`p1-p2:p`) have changed - right now is seems that all the ports will be assigned to one container and the second one still gets the error.
The second container tries to take next port in range though, they are just all allocated to the first container.

[2022-02-02 10:21] stefanocudini commented on #8550
This problem has been solved? in some version?

[2022-02-02 10:36] stefanocudini commented on #8436
where is this file in v2 version?

[2022-02-02 10:38] stefanocudini commented on #8550
@ndeloof were you able to generate completion scripts? for compose v2?

[2022-02-02 14:09] jarulsamy commented on #8436
Since v2 is a major rewrite, and the intention is to use `docker compose` instead of `docker-compose`, I believe the autocompletion information got moved to the [docker/cli](https://github.com/docker/cli/blob/master/contrib/completion/bash/docker) repository.

There is some mention of `docker compose` [here](https://github.com/docker/cli/blob/master/contrib/completion/bash/docker#L5491). I think m

[2022-02-02 14:13] laurazard commented on #9124
Hi @briceburg, I tried replicating your issue, but calculating the sha256 on my own machine using the command:

`shasum -a 256 docker-compose-darwin-x86_64`

yields `f5983a6d89b1290ef6d5f63afe90098109153279648341cd2107da34ec743bfd  docker-compose-darwin-x86_64`

which is the same as the one published on https://github.com/docker/compose/releases/download/v2.2.3/docker-compose-darwin-x86_64.sha256

[2022-02-02 14:14] petrprikryl opened #9138 "Command list from multiple files do not get merged"
**Description**

I have tried list _command_ definition in multiple files. But the _command_ is not being merged. It is overrieded.

**Steps to reproduce the issue:**

base.yml

[code]

extended.yml

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Output of `docker compose version`:**

[code]

**Output of `docker info`:**

[code]

[2022-02-02 17:35] PHLAK commented on #8550
No, this doesn't seem to be solved yet.

[2022-02-02 20:04] guillaumerose commented on #8687
It would be useful to add these instructions to the official documentation (https://docs.docker.com/compose/cli-command/#install-on-linux)

[2022-02-03 02:56] ulyssessouza commented on #9129
Hello @mwild1.
It looks like it works fine on Compose V2. Don't you want to give it a try?

[2022-02-03 08:04] evorios opened #9139 "What mean 'unsupported external secret'?"
subj

[2022-02-03 08:11] ldeluigi commented on #7373
Same for me on windows:
![image](https://user-images.githubusercontent.com/44567586/152304577-da731771-7cbe-4d32-9b53-9e2d8164ae22.png)
Diagnostics ID: A31C72BE-A4EB-4D91-81F3-6EB4722D296F/20220203080937

[2022-02-03 08:42] draksha22 commented on #9138
/assign

[2022-02-03 08:44] abhalawat opened #9140 "Error starting userland proxy: listen tcp4 0.0.0.0:27017: bind: address already in use"
I am first time user of docker compose.
I wanted to create mongo and mongo-express containers through docker compose.
the code used is:-

[code]
before this I ran the command:-
[code]
and this is error I am receiving:

ERROR: for mongodb  Cannot start service mongodb: driver failed programming external connectivity on endpoint erc20_token_mongodb_1 (c3419fec9d3736929fa2f9c5d35f87b7f5e2880779e19502

[2022-02-03 08:45] draksha22 commented on #9139
Hey @evorios can you please elaborate what is your issue?

[2022-02-03 08:50] draksha22 commented on #9138
hey @petrprikryl I am new to docker. Could you please assign this issue to me.

[2022-02-03 09:06] evorios commented on #9139
I run following commands and get described error:
[code]

`./src/my_secret` contain only bytes.

Enviroment: win10

[2022-02-03 09:12] draksha22 commented on #9138
/assign

[2022-02-03 09:15] draksha22 commented on #9139
/assign

[2022-02-03 09:17] draksha22 commented on #9139
/assign

[2022-02-03 09:28] #9140 closed

[2022-02-03 11:10] mwild1 commented on #9129
To be honest I wasn't aware of V2 - because the docs at https://docs.docker.com/compose/install/ still guide you to install V1.

After doing more research, it looks like V2 is not yet considered "GA". I am recommending compose as a way for users of my software project to deploy it on Linux. I'm not comfortable recommending software for that purpose if it's not quite ready yet, though I'm happy to

[2022-02-03 13:44] GarrisonD commented on #8312
+1

[2022-02-03 13:45] ulyssessouza commented on #9139
@evorios From `docker secret create --help`:
[code]

So it looks like your command is missing the secret's name before the file.

[2022-02-03 14:07] firstdorsal opened #9141 "Feature request: Log combined docker compose files"
When multiple files are combined with the -f flag likes this:
[code]
it would be a cool option to add a flag like `--show-resultant` or similar to get the resultant/merged compose file that then gets used.

compose is great <3
thank you!

[2022-02-03 15:04] agates4 commented on #6358
I'm not sure how this is overlooked - it is a major functionality piece missing from docker-compose.

Paths forward:
- A) Global env option to pass arbitrary flags through docker-compose
- B) Hardcoded option to pass explicit flags through docker-compose

These are our two options. It is clear to me that option A) is not the preferred option (of the docker-compose devs).

So, can we see a PR to in

[2022-02-03 15:05] agates4 commented on #6358
@antiBaconMachine

[2022-02-03 15:14] ravshansbox commented on #8312
Unfortunately, still reproducible, what it costs to publish already published image with `:latest` tag?

[2022-02-03 21:42] TyIsI commented on #1203
Support for this feature

[2022-02-03 23:42] sjlongland commented on #4958
Just hit this today… we have a test suite that's used for testing, amongst other things, 6LoWPAN devices.

6LowPAN devices run IPv6.  Not IPv4.  NAT64 is useless when the "cloud side" application needs to make an unsolicited request to a mesh-side device.

Below is my work-around to the problem… specifying `version: '2'` wasn't sufficient as it was previously, I had to say version `2.1`.  (Maybe 2

[2022-02-04 02:10] ZimbiX opened #9143 "Container output is cut off when run in a non-interactive shell (e.g. from a Git hook)"
**Description**

Since Docker Compose version 2.2.3, container output is cut off partially or completely when `docker compose run` is used within a Git hook. I take it this is something to do with it being non-interactive there.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

Downgrading the `docker-compose` packag

[2022-02-04 04:28] oiljin commented on #8940
in v2.2.3 the same error

[2022-02-04 07:10] evorios commented on #9139
Sorry, my bad. Executed command looks like:
`docker secret create my_secret ./src/my_secret`

[2022-02-04 11:41] wallehazz commented on #3633
Issue Fixed. God bless ya

[2022-02-04 11:59] wallehazz commented on #3633
Fixed Issue Thanks

[2022-02-04 12:17] maxbur89 opened #9145 "Problem with external network (when executing the command docker compose down)"
**Description**
Problem with external network when executing the command "docker compose down"

**Steps to reproduce the issue:**
[code]

Network defined as external:
[code]
The documentation says that the external network is not deleted.
https://docs.docker.com/compose/reference/down/
"Networks and volumes defined as external are never removed."

At the same time, the old version 1.29.2 works fin

[2022-02-04 13:36] #8799 closed

[2022-02-04 13:36] #9024 closed

[2022-02-04 15:48] johnthagen commented on #7901
@DaleyKD Yes this issue only affects `docker-compose` 1.X: https://github.com/docker/compose/issues/7901#issuecomment-811119974

It's a bug in `docker-compose` 1.X that this warning is shown even though `--parallel` is in fact needed. It doesn't look like `docker-compose` 1.X will be maintained any more, so the only solution will be to upgrade to `docker compose` 2.x, but then that isn't "Generall

[2022-02-04 20:46] arhemd opened #9147 "Using start, stop, restart from outside the working directory using --project-name"
Being able to start, stop and restart projects without changing directory could really simplify managing projects (at least for me).
I'm going to implement this feature and submit a pull request so that you can merge if you think it useful.

[2022-02-04 23:14] #9124 closed

[2022-02-05 04:35] ulyssessouza commented on #3849
Hmmm... The idea of executing things coming from a default hidden file is quite scary.
This is how it looks like in my mind:

[code]

[2022-02-05 04:59] ulyssessouza commented on #6658
Works on Docker Compose v1 and v2

[2022-02-05 04:59] #6658 closed

[2022-02-05 14:17] Ugoivy commented on #6336
I have the same issue using Java and Groovy, I can't execute docker-compose commands. However, I can in Go using golang.org/x/crypto/ssh without problem and without changing my ssh configuration.

[2022-02-05 19:40] alfmorais commented on #4126
FROM 2022, I'd like to say really thank you for that information.

[2022-02-05 23:09] brean commented on #4837
I figured out that for some error output in Python (in my case Tracebacks and "rospy.logerr")  are not printed when you set `tty: true`. So in combination with setting "PYTHONUNBUFFERED=1" make sure you are NOT using `tty: true`

[2022-02-05 23:59] leonheess commented on #8445
Encountering the same problem but unfortunately @cgrycki solution didn't work for me

[2022-02-06 03:06] LouWii commented on #9131
I've kind of nailed it down to this rule to fix the problem without compromising security. This allows a docker interface to make new connections to itself. I've got the ip from `ifconfig`.

`iptables -A OUTPUT -p tcp -s 172.19.0.0/24 --destination 172.19.0.0/24 -m conntrack --ctstate NEW -j ACCEPT`

I still believe that's something Docker should automatically create in iptables. If Docker automat

[2022-02-06 04:20] andrewshulgin opened #9149 "Do not `--wait` for containers with `--scale` `0`"
**Description**

`docker-compose up --wait` waits for containers scaled to `0`.

**Steps to reproduce the issue:**
1. Create a `docker-compose.yml` with the following content:
[code]
2. Run `docker-compose up -d --scale=foo=0 --wait`.

**Describe the results you received:**
`docker-compose` will infinitely wait for `foo` to start.

**Describe the results you expected:**
`docker-compose` will wait

[2022-02-06 10:03] Haoke98 commented on #7167
I had resolve it. This issues just because you didn't give the container the priority to do something. You can git it just by add the args --privileged=true.

[2022-02-07 13:03] Karanjot-singh commented on #8449
I can confirm this works for MacBook air M1. Thanks!

[2022-02-07 14:27] iamandrewluca commented on #9104
[code]

[2022-02-07 15:53] jose-ladeira commented on #4594
- Sorry it is a bad strategy.  Why not in v3 consider the currently non-swarn containers as a default swarn single container?

[2022-02-07 18:47] hqasemi commented on #6638
didn't work in my case

[2022-02-07 19:28] robertbartel commented on #9133
This is likely a duplicate of #8950, and it relates back to [this issue](https://github.com/moby/moby/issues/29133#issuecomment-442912378).

[2022-02-07 22:20] jgadling commented on #8846
I can confirm that `docker-compose config` is entirely broken if the configuration includes profiles:

[code]

VS:

[code]

[2022-02-08 02:36] suyar commented on #9060
I have the same issue.

[2022-02-08 03:39] xubo245 commented on #5442
How to solve this problem?

[2022-02-08 03:39] xubo245 commented on #5442
[code]

[2022-02-08 07:25] kamalne commented on #5442
hi, +212663022393 watssap

Le mar. 8 févr. 2022 à 04:39, Bo Xu ***@***.***> a écrit :

[2022-02-08 13:12] zapoig opened #9150 "Will the possibility to run the docker-compose V2 plugin without installing docker-cli remain ?"
This is a question issue :

Currently it is possible - tested  on linux ubuntu 20.04 - to just download the docker-compose v2 plugin in your path rather than in one of the suggested cli-plugins folders.
It then can run without the need to install the full docker-cli package.

This is a huge win when trying to minimize the disk usage of the installation : 12 MB used for the docker-compose plugin al

[2022-02-08 14:06] andreaslink-de commented on #5181
Thank you so much, this is the overall solution fixing it - even today. We are so used to the abbreviated form that this was not even considered before! Also a huge learning that the abbreviated one-row-form does not handle any syntax.

[2022-02-08 16:06] Jille opened #9151 "docker-compose down silently ignores arguments"
**Description**

I tried to down one service. `docker-compose down myservice` killed all services instead of just the one, completely ignoring the argument I gave it.

**Steps to reproduce the issue:**
1. Create a docker-compose.yml with 2+ services
2. docker-compose up -d
3. docker-compose down myservice

**Describe the results you received:**

[code]

**Describe the results you expected:**

I ex

[2022-02-08 18:16] mlissner commented on #8756
FWIW, we use the `none` restart policy, and the breaking changes here are really annoying. It means that all of our developers and our servers have to upgrade to docker compose v2 just for the change from `none` to `no`. Good example of code churn that has *very* little reason.

[2022-02-08 19:58] hiro5id opened #9152 "Unable to bind port when service is connected to more than one network"
Experiencing issue that I get errors when binding a port to a container, but the error only happens when my container is connected to multiple networks.

This is the error that I get:
[code]

Here is an example compose file that can reproduce the issue:

Example:

[code]

If I remove `ports` definition from the `nginx` service, everything works fine.  But that also means that i'm unable to make ng

[2022-02-08 20:45] silvtal commented on #9109
It's been almost a month and this still is not fixed.

It should be `sudo curl -L "https://github.com/docker/compose/releases/download/v2.2.3/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose`

[2022-02-08 23:56] rsteube commented on #8550
Ok i think i missed something :thinking: : Is `docker compose` invoking `docker-compose` or is it compiled into the `docker` binary?

[2022-02-09 01:46] SuperSandro2000 commented on #8550
`docker compose` aka docker-compose v2 is a plugin for the ``docker`` command written in go and is not using any python stuff from docker-compose v1.

[2022-02-09 02:06] rsteube commented on #8550
@SuperSandro2000 thanks. I got the shift from python to go, but I didn't catch that it is integrated as plugin.

[2022-02-09 03:12] cedrictwillie commented on #9151
@Jille This seems to be the expected behavior.

See docs [here](https://docs.docker.com/compose/reference/down/#:~:text=By%20default%2C%20the%20only%20things%20removed%20are%3A).

Use `docker compose stop service-name` instead to stop a single service.

[2022-02-09 06:03] vlad-vinogradov opened #9153 "Feature request: Export service replica index to container via some environment variable or system file"
Since docker-compose service can be scaled, it would be useful to export to each container the replica ordinal index as some environment variable or the contents of some system file. This index can be used, for example,  to create replicas own subdirectories if all replicas use the same host path as bind mounts.

[2022-02-09 07:57] Jille commented on #9151
This violates the principle of least surprise for me. If you use `docker-compose up $service`, you naturally expect `docker-compose down $service` to take down that one service. Having it turn down everything is a landmine and might cause a production outage.

We could avoid such outages by simply giving an error if someone passes arguments to `down`.

[2022-02-09 09:38] Crazynovatech opened #9155 "Hagrid on GCP(debian)"

[2022-02-09 09:41] #9155 closed

[2022-02-09 09:50] Crazynovatech opened #9156 "docker-compose is working but not docker compose"
Hi, I have installed docker compose v2.1.1 following the instructions given. **docker-compose version** is working fine giving the result as "Docker Compose version v2.1.1". But **docker compose version**  is throwing error as docker: 'compose' is not a docker command.
Steps Followed
--------------------
curl -sL https://github.com/docker/compose/releases/download/v2.1.1/docker-compose-`uname -s`-

[2022-02-09 15:48] castagninojose opened #9157 "Environment file .env path specified with --env-file parameter is ignored."
**Description**

Parameter `--env-file` is ignored when placed in the parent directory of the yaml compose file. Tried both relative and absolute paths with no success. It only works if the file is in the same directory as the compose yaml file.

From what I understand [from the docs](https://docs.docker.com/compose/env-file/) this feature should work from version `1.28` onward.

This might be rel

[2022-02-09 16:57] wbolster commented on #8550
for completeness: under the hood, docker's cli-plugins handling does invoke a `docker-compose` executable (which happens to be written in golang these days indeed), which typically lives in `/usr/lib/docker/cli-plugins/docker-compose` and should not be called directly. (this is similar to how `git` handles subcommand ‘plugins’)

[2022-02-09 17:14] Gustl22 commented on #3927
Also running `docker` without `sudo` priviledges led to this error message (on Raspberry PI 4). The error logging definitely should be improved in that case.

[2022-02-09 23:18] rsteube commented on #8550
Yeah, I was worried about that as I've been invoking `docker-compose` (which still exists in my `PATH`) for the completions - should be `docker compose` then.

Think i got it working though:
[![asciicast](https://asciinema.org/a/8IUmFJQUe5sDow7zu91deHFJY.svg)](https://asciinema.org/a/8IUmFJQUe5sDow7zu91deHFJY)

[2022-02-09 23:52] tsturzl commented on #7025
2 years later, what's blocking here? Seems someone opened a PR, that PR depended on changes from another repo, that PR is now dead in the water. Lots of people need to get SSH working inside containers to get private dependencies built. I'm more than happy to open a PR with a little guidance on the issue, and some assurance that someone will actually help push this feature through. Seems like the

[2022-02-10 05:19] #9153 closed

[2022-02-10 08:43] glours commented on #7025
Hello @tsturzl

We're currently writing a proposal to extend the build section of the Compose specification which compile all the proposal already open on the subject. We should propose it soon and start working on an implementation right after the approval.
Just to let you know that we're on it actively ATM

[2022-02-10 09:10] bbrefeld opened #9159 "--parallel no longer respected when building"
**Description**

Today I upgraded from docker compose v2.0.1 to v.2.2.3
When I ran a docker compose build command like I normally do I noticed it no longer built in parallel.
Command used: ```docker compose -f docker-compose.yml build --parallel```

I looked through the release notes but didn't see anything related to the --parallel flag.
Am I missing something or is --parallel no longer working?

[2022-02-10 10:41] zapoig opened #9160 "docker compose v2 config --no-interpolate should not escape environment variables"
When checking the validity of a compose file with the _docker compose config_ command, passing the _--no-interpolate_ option to avoid interpolating environment variables, docker compose v2 turns all the _$_ characters into _$$_, making the normalized resulting compose file unable to later be provided with values for the environment variables.

This is different from the behaviour of docker-compose

[2022-02-10 10:59] genieai-vikas opened #9161 "After restart container going to exited state because address is already in use"
Every time my container starts it goes into the exited state. When I inspect the container I see the error "address is already in use". To fix this I have to run docker-compose down and bring it up again. Is there a better solution because it should autostart the container.

Here is my docker-compose

version: '3.4'

services:

  app:
    image: test
    container_name: test
    environment:

[2022-02-10 12:00] woodongwong commented on #4249
In some cases, I had to use some tawdry operations, just in certain situations.
[code]

[code]

[2022-02-10 16:21] qalinn commented on #7423
Hello!
I have the same issue.  Any update on this?

[2022-02-10 17:29] Yingliangzhe opened #9162 "docker run options transport to docker compose, container would work"
Hello everyone,
I have a question using a docker-compose, I'm using a usb camera,
I can use the camera by following command:
`sudo docker run -ti -v /dev:/dev -v /run/udev:/run/udev:ro  --device-cgroup-rule 'a 189:* rwm' <image-id> /bin/bash`

But if I move the -v to docker-compose file
volumes:
      - /dev:/dev
      - /run/udev:/run/udev:ro
    device_cgroup_rules:
      - a 189:* rmw
The camer

[2022-02-10 17:39] westhomas opened #9163 "docker-compose kill command kills all dependent services"
**Description**

Docker compose kill <service> command kills all services defined in `depends_on`. This is unexpected and a departure from V1 docker-compose.

**Steps to reproduce the issue:**

[code]

1. Up `web` to see it up your depends_on `db`:
[code]

2. Observe everything is running:
[code]

3. Kill `web` and observe your `db` is also killed:
[code]

**Describe the results you received:**

Y

[2022-02-11 03:45] derickson2402 commented on #9156
This is normal behavior. ```docker-compose``` on Linux essentially wraps around normal docker commands, similar to running ```docker compose``` on Docker Desktop. However docker engine on Linux is for production environment so it is a separate feature to get docker-compose (at least that is my understanding of that decision)

[2022-02-11 06:36] damiarita commented on #6463
Dear all,

I have been banging my head against the wall for a while with this issue. I wanted to share my workaround in case it can help someone else. It does not need to change the SSH config of the client or the server.

I replaced:
`docker-compose -H 'ssh://remoteUser@remoteHost' up -d`
by:
`ssh -fTNL localhost:2377:/var/run/docker.sock remoteUser@remoteHost #Forward local port to docker socket

[2022-02-11 08:56] chris-crone commented on #6463
Hi!

I'm sorry you're struggling with this. Have you had the same issue with Compose v2? You can find builds [here](https://github.com/docker/compose/releases) and it'll be included in the Linux packages of Docker soon

[2022-02-11 09:35] Pakoke commented on #7669
I am still interested in this functionality.
Could we please have some feedback about this change?

[2022-02-11 10:19] abdennour commented on #7669
I have already implemented this feature. I opened the pull request since 2 months.

@Pakoke @neverkas FYI

[2022-02-11 10:32] glours commented on #7669
We're currently working on adding some capabilities to the build step at the Compose specification level (like specify tags), I hope we can propose something soon and then we'll be able to implement the changes into Compose (v2)

[2022-02-11 12:11] draksha22 commented on #9138
@petrprikryl this is because when you supply multiple files, Compose combines them into a single configuration. Compose builds the configuration in the order you supply the files. Subsequent files override and add to their predecessors. Both the base.yml and extended.yml file are specifying the same service. Therefore,  any matching fields override the previous file. However, new values, add to th

[2022-02-11 12:19] gauthierl commented on #8707
I'm very happy to see this feature available in docker-compose without swarm !

I'd really like to use some Golang templates  to generate config files based on environment variables (and get ride of my python script that do exactly the same).

However, I would also like to have a confirmation that this feature is not a bug and that we can rely on it not only today but also in the future.

The dock

[2022-02-11 12:32] draksha22 commented on #9156
You can try running the following commands as mentioned below:
1. mkdir -p ~/.docker/cli-plugins/
2. curl -SL https://github.com/docker/compose/releases/download/v2.2.3/docker-compose-linux-x86_64 -o ~/.docker/cli-plugins/docker-compose
3. chmod +x ~/.docker/cli-plugins/docker-compose
4. docker compose version

[2022-02-11 13:04] gauthierl commented on #8707
After a try, it seem that template_driver (TemplateDriver) is ignored. The container bind mount the template file on destination without interpret it.

Will that be supported in the future ?

[2022-02-11 13:27] Microhive commented on #8449
Can also confirm this works on my Macbook Pro M1.

[2022-02-11 14:38] dotdashnotdot opened #9165 "Feature req: Compose file path variable"
Similar to the interpolation of environment variables into my compose files, I would like to be able to reference the current directory hosting my compose file.

This would be useful in scenarios where I have multiple files under multiple directories, as I currently have to ensure all paths are relative to the first compose file used

[2022-02-11 15:30] absolunet-pleminh commented on #1203
+1

[2022-02-12 18:39] DJviolin opened #9166 "Multiple --env-file cli arguments not be merged correctly, if it's an environment or args configuration option"
**Description**

This problem came to my attention when I try to spin up a new Laradock project. I thought for a moment I could use multiple environment files to input the docker-compose command:

[code]

The environment variables will be merged, except when the environment variable used as an `environment:` or `args:` configuration option:

[code]

So the generated configuration will look like th

[2022-02-12 18:40] RoboMagus opened #9167 "No image for other architectures (e.g. x86, arm64, ..)"
**Description**
I noticed that the compose image is only built and pushed to the docker hub [for the amd64](https://hub.docker.com/r/docker/compose/tags) architecture.

Why?

**Describe the results you expected:**
I would expect this image to at least be available for the other major architectures. As there seems to be no dependencies that could fail for e.g. armv7 or arm64.
I've built this image

[2022-02-13 03:44] lepe commented on #7686
[code]

Fixed this issue by using:
`docker-compose -H "ssh://user@host:port" up --build -d`

I think the use of `DOCKER_HOST` is causing the issue. In my case using `COMPOSE_PARAMIKO_SSH=1` causes another strange error.

[2022-02-13 14:32] aino-gautam commented on #1135
this solved the problem

[2022-02-13 16:50] KoditkarVedant commented on #9089
I was planning on contributing to this project. This would be a good starting point for me considering I'm very new to Go programming language.

[2022-02-13 20:07] KoditkarVedant commented on #8379
@chris-crone @ndeloof Hi guys, I would like to work on this issue. I am not new to Go lang.

I have got a question. If I pass `--env-file` option to run command then should we append that to `env-file` provided as part of service config in docker-compose.yaml file or should we override them?

[2022-02-13 20:37] KoditkarVedant commented on #8379
In meantime I've created a draft PR which assumes that if you pass --env-file from CLI it overrides the env-file specified in docker-compose.yaml file. I will update PR as per your suggestion if we should append them.

[2022-02-13 21:07] d9k commented on #6920
You can write wrapper script which converts `.toml` config to the temporary `.yaml` and then executes `docker compose` with it (passes all arguments to  `docker compose` as is but replaces `--file|-f` argument).

[2022-02-14 04:08] DevinCampbell opened #9170 "DNS Queries From Containers Using Docker Embedded DNS Do Not Receive Responses"
**Description**

**Steps to reproduce the issue:**
1. Install Ubuntu 21.10.
2. Run these commands per pihole [documentation](https://github.com/pi-hole/docker-pi-hole).
[code]
3. Point pihole upstream DNS server at LAN router and set LAN router's DHCP Name Server to Docker host IP, per pihole [documentation](https://discourse.pi-hole.net/t/how-do-i-configure-my-devices-to-use-pi-hole-as-their-dns-

[2022-02-14 05:01] imsanjoykb opened #9171 "Is it create any effect in SEO if I run multiple app in my docker?"
I want to run my 4 apps in docker. If I do this, next time when I will do SEO in my apps , is it create any bad effect in my apps?

Question Structure:  https://i.stack.imgur.com/aSqqp.png
[Question Structure](https://i.stack.imgur.com/aSqqp.png)

[2022-02-14 05:06] DevinCampbell commented on #9170
I found the solution here: https://discourse.pi-hole.net/t/solve-dns-resolution-in-other-containers-when-using-docker-pihole/31413.

You need to change the port binding from 53:53udp to hostip:53/udp. So in my case it was 192.168.1.10:53:53/udp.

[2022-02-14 05:06] #9170 closed

[2022-02-14 06:48] MichaelKim0407 opened #9172 "docker-compose v2 down -v does not respect "external" declaration"
**Description**

`docker-compose down -v` behavior not respecting documentation

**Steps to reproduce the issue:**
1. Create a compose file with an external volume
2. Create volume
3. Run `docker-compose down -v`

**Describe the results you received:**
Volume removed

**Describe the results you expected:**
Volume should not be removed, per documentation

**Additional information you deem important

[2022-02-14 08:13] KoditkarVedant commented on #8768
@ulyssessouza I would like to work on this issue. I see the current implementation of `docker compose pull` is to pull image irrespective of checking if it is already present in locally. I see there are two things we need to do.

1, Skip pulling image if it is already present locally.
2. If the same image is used by multiple services and it is not present then we should pull that image only once.

[2022-02-14 08:53] KoditkarVedant commented on #8768
@ulyssessouza I am not sure if this is a bug or feature. I quickly downloaded the docker-compose 1.29.2 release and tried the similar example it looks like it was pulling the same image multiple times.

[2022-02-14 12:16] KoditkarVedant commented on #8768
@ulyssessouza I've opened a draft PR. I'll publish it later once we final the approach.

[2022-02-14 12:33] eldarj commented on #5523
why not add this to docker-compose and enabled in docker-compose.yml configs as well?

[2022-02-14 12:49] KoditkarVedant commented on #8764
@haines @ulyssessouza I was looking to work on this issue but it looks like it is already fixed. We can close this issue.

**Steps followed:**
1. I've used the below `docker-compose.yaml` for testing
[code]

2. run `docker compose run alpine`
[code]

3. run `docker compose down --volumes`
[code]

Output of `docker compose version:`
[code]

Output of  `docker info`
[code]

[2022-02-14 15:07] TheBottleCyber opened #9174 "Build command with --parallel flag"
**Description**

Due to the move of docker-compose to docker compose when using the `docker compose build` command with **--parallel** compose throwings: "_unknown flag: --parallel_"

**Steps to reproduce the issue:**
1. Write command to shell and try to build Build any docker-compose.yml file https://github.com/TheBottleCyber/LeviathanBot/blob/master/build_docker-compose.yml is example docker-com

[2022-02-14 15:58] KoditkarVedant commented on #8573
@BretFisher @ndeloof I've worked on this enhancement and opened a pull request. Let me know your view.

[2022-02-14 16:42] agates4 commented on #3608
FIve years 😢
With this, and no support for build time secrets, docker-compose is more of a headache than it is useful!

[2022-02-14 17:42] KoditkarVedant commented on #8920
@oidualc See if this issue still exists with docker compose version v.2.2.3. I've was unable to reproduce the issue locally.

[2022-02-14 19:39] ndeloof commented on #8828
docker compose v1 indeed use the logging API, and doing so won't collect any log when driver is set to `none`.
docker compose v2 attach to container (just like docker run does) and does not rely on the docker engine to collect logs with a driver.

IHMO relying on logging driver to exclude logs from the `compose up` output is just a hack, should not be considered a "feature" to be reproduced for ba

[2022-02-14 20:37] WeeJeWel commented on #8828
Yeah, disabling logs for a specific service is a must-have imho. I’m really not interested in database logs, for example, they just pollute the console.

[2022-02-15 07:49] KoditkarVedant commented on #8828
I liked the idea of adding support to run specific service in detached mode. For example:

Currently we have option to run all services in detached mode
[code]

Similarly we can also run only a service in detached mode using the below command
[code]

**Proposal:**
We can add property on `Service` to specify the `detach` option like
[code]

Now when you run `docker compose up` it will run `service1

[2022-02-15 08:28] ndeloof commented on #8828
`docker compose up --detach SERVICE` unfortunately doesn't make it clear is SERVICE applies to the detach option or is set to select services to be started by `up`. I guess for clarity we need a new dedicated flag

I suggest we introduce:
`docker compose up --attach-to SERVICE ...`
`docker compose up --detach-from SERVICE ...`
(`--detach` would then be somehow an alias for `--detach-from *`)
wdyt?

[2022-02-15 09:34] #8920 closed

[2022-02-15 09:34] KoditkarVedant commented on #8828
`docker compose up --detach SERVICE` should only override that for the specified services in command.
I've just checked we have similar behavior for `--attach` flag. If you specify it only attaches to those services and rest of the services run in detached mode.

So we only need to add the a config `detach`. It will get overridden by two flags `--attach` `--detach`.
- If you specify SERVICE name (

[2022-02-15 10:08] ndeloof commented on #8828
You're right about `--attach` flag, indeed offers this as a recently introduced flag (I forgot about this one, whenever I'm the one who [introduced it](https://github.com/docker/compose/commit/e8666b02f356a2e2549cabc311e5c28e6316a7cb), seems my brain sometime needs a cache refresh 😅 ).

We can't change the meaning of the boolean `--detach` flag without breaking backward compatibility, i.e.
`docker

[2022-02-15 10:28] KoditkarVedant commented on #8828
I think I wasn't aware of the dependencies part. In that case also our change will also be backward compatible. I mean if you specify `docker compose up --detach SERVICE` it will override the config of Service and it's dependencies like it does it now. I believe we must be doing that for `docker compose up --attach SERVICES` right?

Is my understanding correct? what we are going to allow user is a

[2022-02-15 10:30] Daghall commented on #6741
Quick and dirty workaround: `alias docker-compose='docker-compose --env-file /dev/null'`

[2022-02-15 10:31] rsteube commented on #8550
@ndeloof i think this should be possible if you can update the docker cli to a newer cobra version.
It changed in recent versions from full completion script generation to invoking the binary.

In docker cli you just add a subcommand for each (installed) plugin with flag parsing disabled like [here](https://github.com/rsteube/carapace-bin/blob/9da6898a911b06cf31857e0941f99a6db4302f8c/completers/do

[2022-02-15 11:16] RoboMagus commented on #9167
Scratch that. I've switched to using the image provided by linuxserver as that one does support other architectures.
Not the latest version, but at least less local maintenance.

[2022-02-15 11:16] #9167 closed

[2022-02-15 12:23] damiarita commented on #6463
hi,

I need to move on, as I have other difficulties in the project (not related to this issue).

In any case, when I revisit that part of the project I will try v2.

Thanks

[2022-02-15 13:37] gitsupi opened #9176 "add name attribute to docker-compose file"
name:
  newdpckr-compse

[2022-02-15 17:22] princebillyGK commented on #5883
I have solved this issue using python3.
At first I checked if python3 is installed
<img width="277" alt="image" src="https://user-images.githubusercontent.com/42868891/154114789-47899654-7127-469c-b956-b66e9976498d.png">
Then I find all the available python paths:
<img width="718" alt="image" src="https://user-images.githubusercontent.com/42868891/154114947-7c79b262-7805-48a0-83ff-4bbd62f3bba8.png

[2022-02-15 20:22] marvinjuette commented on #2293
The `-T` did the trick thanks @corylevine

[2022-02-15 21:13] MetathronZ commented on #9156
me behavior on my end. Docker and Docker compose v2 installed as stated on Docker website. Also the tutorial from @draksha22 does not bring any other result.
Environment: Raspi 3 with Raspian lite 64 bit

[2022-02-16 05:15] thorfi opened #9177 "In ECS context: docker compose convert/up is API throttled"
**Description**

`docker compose up` fails due to AWS EC2 API throttling.

**Steps to reproduce the issue:**
1. Have a non-trivial docker-compose.yaml
2. docker context use ecs-context
3. `docker compose up` or `docker compose convert`

**Describe the results you received:**

ThrottlingException:
	status code: 400, request id: 2259a3c2-1130-4034-a41f-24914d8fa550

**Describe the results you expect

[2022-02-16 08:56] ulyssessouza commented on #9176
That would be the implementation of https://github.com/compose-spec/compose-spec/pull/206

[2022-02-16 11:11] skavadias commented on #6633
Sorry to comment on a closed issue. In my opinion, the message would be clearer if it was something like:

`thing1: latest image found; nothing to build (no Dockerfile)`
`thing2: latest image found; nothing to build (no Dockerfile)`

Thank you.

[2022-02-16 12:06] daklaus commented on #8871
+1 from me as well. Currently I am adding Compose v2 to the [docker][1] image with my own Dockerfile and use the resulting image as a replacement for the original [docker][1] image for [docker-in-docker builds on GitLab CI/CD pipelines][2].

[1]: https://hub.docker.com/_/docker
[2]: https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#use-the-docker-executor-with-docker-in-docker

[2022-02-16 12:51] samupl commented on #1092
Hey, I think this issue might have re-surfaced today.

I'm running the following  versions:

[code]

[code]

I'm running a pre-commit git hook that runs `pre-commit` inside docker:

[code]

Up to this morning I had docker compose v1.19, now I updated to compose v2. Before I updated, everything worked as expected. Right now, if I try to run `git commit -m TEST`, there's no output from docker. If I

[2022-02-16 14:42] ndeloof commented on #9176
closing as a duplicate for https://github.com/docker/compose/issues/745

[2022-02-16 14:42] #9176 closed

[2022-02-16 14:43] ndeloof commented on #9177
@glours can you please transfert this issue to compose-cli?

[2022-02-16 14:47] quequiere commented on #9132
I have the same problem here, COMPOSE_CONVERT_WINDOWS_PATHS doesn't change anything.

[2022-02-16 16:51] ssipos90 commented on #8544
@msbarry your script ended up deploying on my jenkins machine with this line `ControlSocket docker-ctrl-socket already exists, disabling multiplexing`.

[2022-02-16 20:06] tsaiDavid commented on #1203
Would love to see this!

[2022-02-16 22:04] rfay commented on #9115
I see "interesting" behavior like this from docker-compose v2.2.2 with calling code like this:

[code]

It's calling `docker-compose exec` and docker-compose exits with an exitErr  and "read /dev/stderr: bad file descriptor"

[2022-02-16 22:27] hannahchan opened #9180 "Compose v2 vs. Compose v1 - Drop-in replacement of docker-compose down --volume does not work"
In Docker Compose v1 (v1.29.2), the command;

    docker-compose down --volume

In v2.2.3, has become;

    docker-compose down --volumes

This has broken a few scripts and requires any documentation we have written to be updated. The `-v` is unaffected. The idea that Compose v2 is a drop in replacement for v1 in this scenario doesn't hold true.

[2022-02-16 23:31] rfay commented on #9115
I seem to be past this. I note now that it was happening when debugging in Goland, so could be possible that Goland or delve does something funky to stderr.

But I do suspect that since this has been discovered in various contexts that it's misbehavior from composer when something has happened to stderr, or perhaps the issue in the [stack overflow](https://stackoverflow.com/questions/20134095/why-

[2022-02-17 01:30] thorfi commented on #9177
Never mind, re-raised this myself as: docker/compose-cli#2134

[2022-02-17 01:30] #9177 closed

[2022-02-17 01:52] deviantintegral opened #9181 "Allow env_files in docker-compose files to be optional"
**Description**

As a development leader, I would like teams to be able to spin up local `docker-compose` based environments without steps on the host beyond `git clone...`. As well, developers need to be able to optionally set or override environment variables such as connection strings or secrets. Since overriding variables is the 20% case, most developers should be able to run:

[code]

One of

[2022-02-17 04:24] thorfi commented on #9177
@glours @ndeloof  FYI, this turns out to be related to the number of EFS volumes that exist, if there are >= 100 the number of Describe operations throttles.

[2022-02-17 09:26] jguay commented on #8416
I am not sure when this was fixed but I tried again compose v2 now and I don't have the issue in this version so I am closing this issue :
[code]

[2022-02-17 09:26] #8416 closed

[2022-02-17 10:33] ubiuser commented on #7423
@Lhamide00 @qalinn As earlier said by @ndeloof, please try using v2, so call `docker compose` instead of `docker-compose`.

[2022-02-17 10:48] ndeloof commented on #9180
`--volume` was a typo, as the plan was to reproduce docker-compose legacy flag `down --volumes` (or `-v`).

[2022-02-17 11:16] ndeloof commented on #9181
Assuming we want to add support for "optional env_file" as you describe, this should be debated under Compose specification, and probably will better be addressed with a custom syntax to mark file as optional, maybe using [elvis operator](https://en.wikipedia.org/wiki/Elvis_operator) ?:
[code]

[2022-02-17 11:52] Kallys commented on #9181
I'm interessed by this feature for same motivations (working `docker compose up` just after a `git clone`) as it may resolve my concerns about default env values.

### Illustration
Let's look at this code for example (inspired from [this one](https://github.com/api-platform/api-platform/blob/main/docker-compose.yml)).

[code]

If someone modify `POSTGRES_DB` default value in "database" service for

[2022-02-17 13:05] ndeloof commented on #8550
Started experimenting with cobra 1.3.0 to adopt cobra (dynamic) completion v2 : https://github.com/docker/cli/pull/3429

[2022-02-17 13:15] ulyssessouza commented on #9174
Now the flag is allowed, but with no effect.

For reference: https://github.com/docker/compose/blob/v2.0.1/cmd/compose/build.go#L71..L72

[2022-02-17 13:15] #9174 closed

[2022-02-17 13:16] ulyssessouza commented on #9159
In v2.0.1 the behaviour is the same. The flag is just ignored.

https://github.com/docker/compose/blob/v2.0.1/cmd/compose/build.go#L71..L72

[2022-02-17 13:23] #9159 closed

[2022-02-17 14:16] rsteube commented on #8550
Nice. If it's any help for anyone in the meantime: got my completer at [carapace-bin](https://github.com/rsteube/carapace-bin).
Just source the script from `carapace docker` and it should work with the `compose` and `buildx` subcommands.

[2022-02-17 15:54] alx72n commented on #8831
Hello.
I confirm this on v2.2.3, Blkio* parameters are set to null.
v1.26.0 works fine.

[2022-02-17 16:24] #8831 closed

[2022-02-17 16:31] #9031 closed

[2022-02-17 20:34] gnumoksha opened #9184 "Option `--profile` is missing on compose v2"
[Docs](https://docs.docker.com/compose/profiles/) says one can use:

[code]

but only the second option seems to be available on docker compose v2 running on linux.
[code]

[2022-02-17 21:37] Herr-Sepp opened #9185 "V2 can not delete Container over ssh if there is more than one"
**Description**

Try to "down" a compose over ssh will fail with V2 that worked in V1.
Can only recreated with -HOST and it need to be two or more services inside the compose (one services works)

**Steps to reproduce the issue:**
1. Compose:
[code]

2.
`.\docker-compose-v2.exe -H ssh://USER@docker-vm up -d &&
.\docker-compose-v2.exe -H ssh://USER@docker-vm down`

**Describe the results you receiv

[2022-02-18 07:17] lokzzor opened #9186 "Set name for volume"
Hello, tell me how to explicitly set a name for volume

**My code**
[code]
I will be very grateful for your help

[2022-02-18 08:55] niftyhack opened #9202 "docker-compose CLI output is not "greppable" any more"
- [x] I have tried with the latest version of Docker Desktop
  - [x] I have tried disabling enabled experimental features
  - [x] I have uploaded Diagnostics
  - Diagnostics ID: F422FCD1-9103-499F-B66B-A21B08AF9789/20220218084251

### Expected behavior

CLI output from docker-compose is "greppable".

### Actual behavior

CLI output from docker-compose is not "greppable". But CLI output from docker

[2022-02-18 09:02] #9133 closed

[2022-02-18 09:09] smidge84 commented on #9133
Thanks @ndeloof.

We like to interpolate all our compose files into a single "flat/interpolated" file for the following reasons:

1. This means we have a single immutable artefact which will always be the same not matter when you deploy it. This is extremely useful when you need to troubleshoot a historical stack as it ensures you have the same version as the customer experiencing the issue.
2. In

[2022-02-18 09:09] smidge84 commented on #9133
@ndeloof

Why have you Closed this issue? We haven't finished discussing yet.
Please re-open the issue.

[2022-02-18 09:19] ndeloof commented on #9133
closed as a duplicate for https://github.com/docker/cli/issues/2527

[2022-02-18 09:24] se7enXF opened #9187 "extra_hosts not work"
I am using portainer to manage docker, and using stack in portainer with compose-file to start container.
The container was started successfully, but the host was not modified. Inspect the container, ExtraHosts args do exist.
It seems that the container does not automatically append extra_host to the hosts file when it starts.

Here is my environments:
* portainer: 2.11.0
* docker: 20.10.3
* compo

[2022-02-18 10:06] smidge84 commented on #9133
@thaJeztah Has just commented in issue #2475 that the following Pull Request might resolve the problem we're seeing:

- [cli/compose: add schema 3.10, with optional version field (default to "latest") #3257](https://github.com/docker/cli/pull/3257)

[2022-02-18 12:19] exe-dealer opened #9188 "lowercase dockerfile is broken since v2.1"
**Description**

docker-compose cannot find lowercase dockerfile since v2.1, capitalized Dockerfile supported only

**Steps to reproduce the issue:**
[code]

[code]

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker compose version`:**

[code]

**

[2022-02-18 15:50] pnjakste commented on #8450
You can specify
    deploy:
      restart_policy:
        condition: on-failure
        delay: 20s
        max_attempts: 3

to restart crashed containers after some time.
This works for the latest version of docker-compose [v2.2.3]
I don't know if it's intended to work, but its nice.

[2022-02-18 15:51] ndeloof commented on #9184
tested 2.2.3, works for me

[code]

[code]

Can you please give this a try?

[2022-02-18 16:01] #9186 closed

[2022-02-18 16:03] ndeloof commented on #9187
this project in about deployment managed by `docker compose ...` command
Please ask portainer's forum/support for assistance with compose file support

[2022-02-18 16:09] ndeloof commented on #9188
Compose v2 uses buildkit to implement the `build` command.
This seems to be a duplicate for https://github.com/docker/buildx/issues/415#issuecomment-717279534

AFAIK `docker build` command always has required capitalized `Dockerfile`, but maybe I'm wrong?

[2022-02-18 16:12] ndeloof commented on #9188
My bad, didn't know about https://github.com/moby/moby/pull/10858

[2022-02-18 16:40] #9180 closed

[2022-02-18 21:51] Git-66 commented on #3633
I have the same issue, I have tried all the comments above but did not work for me. I finally use one of suggestion above, just restart the docker and resolved the issue.

[2022-02-19 18:32] sgsunder opened #9190 "Documented syntax for GPU access does not work"
**Description**

Attempting to enable container GPU access in the compose file, as per the documentation, fails with a syntax error

Snippet of compose file:

[code]

Attempting to start this service yields the following:
[code]

However, commenting out the entire deploy section of the compose file works fine, and the container starts and functions as expected. Of course, I wouldn't be able to get

[2022-02-19 20:35] sgsunder commented on #9190
Nevermind, I fixed it.

Solution: I upgraded to a newer version of docker-compose, from pip. `docker-compose version 1.29.2, build unknown`

[2022-02-19 20:35] #9190 closed

[2022-02-19 20:48] KES777 opened #9191 "Compose does not mount volume if I use relative path"
**Description**

I think this is related to: https://github.com/docker/compose/issues/3715

When I use relative path at configuration it does not work, but if I use absolute path, then everything is OK

**Steps to reproduce the issue:**
Working compose file:
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information you deem impor

[2022-02-19 20:54] KES777 commented on #9191
What I noticed, that if I use relative path, then it looks like:
[code]

But when I use absolute path, then:
[code]

So this is some problem with permissions

[2022-02-19 21:05] KES777 commented on #9191
If I use relative path without named volumes then also all works fine:

[code]

[code]

Permissions are next:
[code]

Here, despite folder is `root:root` everything is working. But it seems require `kes:kes` if I use named volumes

[2022-02-20 12:34] q0rban commented on #9181
What about allowing glob patterns such as `.env(.local|)`

[code]

[2022-02-20 13:24] neumann-nico opened #9203 "Docker compose does not adapt on bridge driver changes"
- [x] I have tried with the latest version of Docker Desktop
  - [x] I have tried disabling enabled experimental features
  - [x] I have uploaded Diagnostics
  - Diagnostics ID: `04396BFA-5693-459C-8E26-2827491CDD7E/20220220130300`

### Expected behavior
Network bridge should adapt to the new changes automatically.

### Actual behavior
I am using the bridge network driver inside a docker compose f

[2022-02-21 04:58] alxpettit commented on #6920
@d9k Yeah, this was my plan in the meantime.

[2022-02-21 07:18] prologic commented on #5613
This is me. Specifically here I need to be able to publish a range of ports to the host in a Swarm cluster with `endpoint_mode` set to `dnsrr` (I don't want the ports to be ingress load balanced using Swarm's LB here and ingress VIPs).

Is someone working on compose support for this?

[2022-02-21 08:29] ndeloof commented on #5613
This has been fixed on the Compose-specification: https://github.com/compose-spec/compose-spec/pull/222
now need to get this also implemented in the code

[2022-02-21 09:24] andrejohansson opened #9193 "Secrets not working on Windows (can´t bind .netrc)"
**Description**

I'm trying to bind my .netrc file in my user folder in windows as a secret for my images. But whatever I try I cannot get it to work.

**docker-compose.yml**

[code]

**Dockerfile**

[code]

**Steps to reproduce the issue:**

Using powershell core

1. Run cat to verify file path and contents: `cat c:/Users/AndreJohansson/.netrc`
1. Set buildkit (seems necessary according to some c

[2022-02-21 09:32] lvhengani opened #9194 "Error: failed to solve with frontend when building docker images"
I tried searching to see if anyone encountered this challenge and I could not retrieve anything.

I have a simple docker file:

[code]

and the docker-compose file:

[code]
I am running `docker-compose build` to build the image but I am getting the error below:

**Describe the results you received:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**O

[2022-02-21 10:15] ndeloof commented on #9194
Are you able to build this same Dockerfile when buildkit is enabled?
i.e. run `DOCKER_BUILDKIT=1 docker build .`

[2022-02-21 10:16] ndeloof commented on #9181
Please, do not tty to include some pseudo-programing langage / expression in compose file format :P

[2022-02-21 10:20] ndeloof commented on #9191
This is expected: as you define volume driver option, those aren't processed by docker compose but passed to docker engine, and this one won't accept relative path (as there's no "working directory" in this context on engine side)

You don't have to declare a volume to bind mount a local path, just use :
[code]

[2022-02-21 10:20] #9191 closed

[2022-02-21 12:20] lvhengani commented on #9194
Thanks for replying to the issue. I am getting the same error:
[code]

[2022-02-21 12:22] ndeloof commented on #9194
ok, could you please attach your `requirements.txt` so we get a reproduction scenario and can transfert this issue to the buildkit team?

[2022-02-21 12:29] lvhengani commented on #9194
The contents of the `requirements.txt` file are as follows:

[code]

[2022-02-21 13:11] ndeloof commented on #9194
Can't reproduce :'(

[2022-02-21 13:20] alecgarza96 commented on #9188
/assign

[2022-02-21 13:24] alecgarza96 commented on #9185
/assign

[2022-02-21 13:28] #9188 closed

[2022-02-21 13:52] exe-dealer commented on #9188
thanks

[2022-02-21 17:37] matt-oakes commented on #6180
Not stale

[2022-02-21 20:24] kriansa commented on #8733
For those who might still be after this information, `DOCKER_HOST` variable is still there on Compose V2. Now, however, one must set it slightly different than we would in the past.

Previously if we needed to reassign it, the syntax was `unix:/path/to/file.sock` whereas now you need to add a double slash before the path, so it becomes `unix:///path/to/file.sock`

[2022-02-21 20:24] #8733 closed

[2022-02-21 23:42] alanondra commented on #1837
Some containers will have environment variables passed to them, some will not. Redis seems to be one of those containers that won't. At the moment this is the only container in my compose file (that I'm aware of) that seems to just flat-out _ignore_ the environment file. Every other container where I'm using this strategy works fine.
[code]
[code]

[2022-02-21 23:45] jessex7 commented on #9156
I have a related problem. I followed the instructions from https://docs.docker.com/compose/cli-command/#install-on-linux, and running `docker compose version` is successful.
`alexdain@debian:~/dev/getting-started-master/app$ docker compose version`
`Docker Compose version v2.2.3`

When I try to use an actual command, it does not work.
`alexdain@debian:~/dev/getting-started-master/app$ sudo docker

[2022-02-22 12:43] ndeloof commented on #9156
`sudo` makes your command run as user `root`, and I guess you installed Compose V2 as a CLI plugin under your $HOME, which isn't the same used by root.
You can install compose V2 globally under `/usr/local/lib/docker/cli-plugins` so it is available to all user (and doing so, to `root`)

[2022-02-22 13:00] ndeloof commented on #6180
Would need to extend https://github.com/compose-spec/compose-spec/blob/master/spec.md#dns so that we clarify a service name can be used to set `dns`.
In terms of implementation, this implies an implicit depends_on being set between service and dns provider

[2022-02-22 15:40] KES777 commented on #9191
I want to give name because want to see normal names when listing:
[code]
If I do not give name I get:
[code]
And this is unreadable =(

@ndeloof: So before passing to docker engine please expand relative path to full

[2022-02-22 16:03] nunoperalta opened #9195 "Is there a way to keep "docker-compose" up-to-date using "apt-get update" or similar?"
The version from `pip` seems to be V1

And looking at the instructions at https://docs.docker.com/compose/cli-command/#install-on-linux
It seems that the only way to install V2 is by downloading the script from a tag/release.

It seems that the only way to keep docker-compose up-to-date is by manually downloading from the latest tag/release,
while I'd like to have it automated.

Is it possible?
Th

[2022-02-22 16:03] Constantin07 commented on #3927
Still experiencing this issue on MacOS BigSur 11.6.2 with:
[code]

[2022-02-22 17:30] ndeloof commented on #9191
I don't think we want to include volume driver-specific code into docker-compose

Seems to me you get some confusion between volumes and bind-mount. While "local" driver allows you do do such a hack, a volume should be an abstract storage, so not declared with a local path. Either you want a volume (abstract) or you want to mount some local files, and then obviously `volume ls` won't be aware

[2022-02-22 19:13] KES777 commented on #9191
I want to see readable names for mounts/volumes.

I use here `local` because I did not find other way to name *this mount point*

[2022-02-22 19:19] ndeloof commented on #9191
I got your point, but that's basically a corner-case we don't want to support.
A possible workaround is to use $PWD variable:
[code]

[2022-02-23 00:19] felipecrs opened #9196 "Official `docker/setup-compose` GitHub Action"
It would be very nice to have a `docker/setup-compose` GitHub Action to use in CI. The installation isn't so simple anymore, it consists of:

- Downloading the `compose` binary to the plugins folder
- Downloading the `compose-switch` binary as `docker-compose` for backwards compatibility

And furthermore, as a way to keep up to date (or no, to control the exact version) used in CI.

Here's an exam

[2022-02-23 05:34] silencej commented on #3309
Use docker compose.

[code]

https://stackoverflow.com/a/71231139/6191913

[2022-02-23 05:35] silencej commented on #3465
Use `docker compose`.

[code]

https://stackoverflow.com/a/71231139/6191913

[2022-02-23 07:58] ndeloof commented on #9196
github action runners already have compose `Docker Compose version 2.2.3+azure-1` installed by default so you can run `docker compose ...` commands as part of your CI

Otherwise, I created a dedicated action, but this is nothing official: https://github.com/marketplace/actions/docker-compose-setup

cc @chris-crone

[2022-02-23 08:08] ndeloof commented on #9195
Sure, we are working on getting compose available as a system package with other docker bits, see https://github.com/docker/docker-ce-packaging/pull/553

[2022-02-23 09:04] #8764 closed, assigned to nobody

[2022-02-23 09:15] MashuAjmera commented on #3683
docker pull works but docker-compose pull doesn't with this configuration also-
docker-compose version 1.29.2, build unknown                                                                                                                                                                       docker-py version: 5.0.0

[2022-02-23 09:21] nunoperalta commented on #9195
Perfect! Thank you for that :)

[2022-02-23 11:47] #9149 closed

[2022-02-23 12:22] nickjj opened #9199 "Feature request: Add COMPOSE_REMOVE_ORPHANS to let us default to --remove-orphans on a per project basis"
Hi,

I find myself always using `docker-compose down --remove-orphans` because if I rename a service or happen to have `run` a 1 off task and Docker created a container with a random suffix I always want to clean those containers up.

I recently ran a poll on Twitter asking what other folks prefer https://twitter.com/nickjanetakis/status/1495458224912351242 and ~83% said they would like to have `-

[2022-02-23 12:28] sshishov commented on #3607
We want to have multiline variables inside `dotenv` file

[2022-02-23 12:30] sshishov commented on #3527
Please reopen and fix...

[2022-02-23 13:10] #9199 closed

[2022-02-23 15:37] Evesy opened #9201 "Log output missing with docker-compose run"
**Description**

Using `docker-compose run` on `2.2.3`, log output from the container (either some of it, or all of it) is missing. This issue is not present on `2.2.2`
This occurs when running in our CI environment, haven't been able to reproduce on my own machine.

**Steps to reproduce the issue:**
1. We're running `/bin/bash -c "docker-compose run  -u 1000 infra ./plan.sh` on our CI agent
2.`pl

[2022-02-23 17:04] tommilligan commented on #9201
Looks like introduced in https://github.com/docker/compose/commit/7b6439997d0eae9e15e05453481e465ecef6bc90 as a deliberate fix.

I suppose this is bringing the command in line with the documented behaviour, and to standardise it with `exec`. Still find it surprising that a long-standing behaviour was changed in a patch release though.

[2022-02-23 18:44] abelkbil opened #9204 "Local Env Variable Syntax error, Persisit %Userprofile% folder volume"
Hi all,
I am searching on how to persist user profile folder in volume mounting

I have folder C:\Users\ABEL\source\repos which needs to be persisted for a windows container. The username should be from the host. It is unknown.

Below is my docker-compose file, The volume section is not correct.
Any comments will be helpful. Thanks in advance

[code]

I get below error

`invalid interpolation form

[2022-02-23 21:16] kevr opened #9205 "docker-compose false negatives"
**Description**

After downing containers with `docker-compose down --remove-orphans`, the next `up` or `run` usually works out fine, but sometimes it fails. I suspect this is due to some sort of data race.

This can be a container or a related network. Sometimes, when a container is being upped for the first time, it fails with no details. The following text is an example of the default network f

[2022-02-24 03:27] jpbberry commented on #6822
Still having this issue, quite annoying how it's just being ignored

[2022-02-24 03:34] couryrr commented on #7434
Its never a good sign when you find a 2 year old thread about an issue.

Versions

[code]
I created the context like so:

`docker context create prod --docker "host=ssh://user@host.com"`

I can then run the following and get an output of running containers

docker --context prod ps

However running with docker-compose the command fails

[code]
I tired the work around of setting the context and mov

[2022-02-24 09:07] abelkbil commented on #9204
Error response from daemon: mount denied:
the source path "\Users\INaBJOJ1\source:C:\Users\INaBJOJ1\source:rw"
too many colons

Trying to find how to use wslpath style

[2022-02-24 09:39] ndeloof commented on #9204
environment variable interpolation uses bash style: `${USERPROFILE}` (no `env:` prefix)

is this for a Windows container (not Linux container on Docker Desktop Windows)?
Which version of docker compose are you using?
Can you run this container successfully with a classic `docker run ...` command ?

[2022-02-24 09:51] ndeloof commented on #9201
That's indeed sad we had to remove the TTY auto-detection
Long terms, I'd expect we can share `run` and `exec` code with docker/cli so we benefit for a more stable and battle-tested codebase to manage such corner-cases, see https://github.com/docker/cli/pull/3436

[2022-02-24 09:52] Evesy commented on #9201
Nice spot.

So whilst the documentation has always been `By default docker compose run allocates a TTY` when not specified, the actual logic has been that it will autodetect for you, and if you're not running in a TTY, `--no-TTY` would be appended for you

[2022-02-24 09:54] Evesy commented on #9201
@ndeloof To confirm, the course of action now when upgrading to >=2.2.3 would be to explicitly add `--no-TTY` to our `docker-compose run` commands when running in our CI environment, which would replicate the old behaviour?

[2022-02-24 09:59] tommilligan commented on #9201
Agreed - and the behaviour from `docker-compose` v1 was auto-allocation, so I didn't see this as a breaking change when upgrading to v2.

I added `--no-TTY` yesterday to anything that's a script and uses `docker compose run`, and this fixed our overnight CI build issues.

[2022-02-24 10:49] glours commented on #9150
Hello @zapoig

Yes it will be keep at this, Compose V2 should work as a standalone binary such was Compose v1

[2022-02-24 10:49] #9150 closed

[2022-02-24 11:05] glours commented on #9202
Can you share the output of the following command `docker info` please?

[2022-02-24 11:40] ulyssessouza commented on #8863
@Swajalisduf Thank you for the issue.
Looks like your example has a typo.
The syntax for error messages on missing variables is `:?` and not `?:`

But even with this, it looks like the error is shown as expected. Could you please retest with the latest version?

[2022-02-24 11:54] nathanweeks commented on #8707
@gauthierl Configs are [documented in the Compose spec](https://github.com/compose-spec/compose-spec/blob/master/spec.md#configs-top-level-element), so it seems they should continue to be supported in Docker Compose V2?

[2022-02-24 12:12] zapoig commented on #9150
Thank you, that is great news.

[2022-02-24 12:28] ndeloof commented on #8707
docker-compose, both v1 and v2, support `config` by use of a bind mount. Docker engine without swarm has no support for secrets or configs, and so this is the only available option (designed for development mode).

[2022-02-24 12:28] #8707 closed

[2022-02-24 13:18] nathanweeks commented on #8707
Thanks for the clarification. It would be really convenient for production (or any use of a remote Docker Engine) if Docker Compose could somehow work around this; e.g., creating an anonymous volume, copying a specified config/secret file to the volume, and (somehow) mount just the file from the volume at the specified path in the service container.  I'm happy to submit an issue if a similar featu

[2022-02-24 13:24] felipecrs commented on #9196
Thank you, @ndeloof!

[2022-02-24 14:26] gauthierl commented on #8707
Thanks for the clarification @ndeloof  !

I'm agree with @nathanweeks it would be an interesting feature :)

But, I would also understand that it's over the scope of what compose should do.
It's something that should probably be implemented directly in Docker Engine.

[2022-02-24 14:32] ndeloof commented on #8707
Being able to create a volume with some initial content is an interesting idea. Could maybe be feasible with some volume driver options? Anyway, this is not limited to config/secrets, which only make sense when the actual engine has support for such concepts (the way it was introduced in docker-compose is only a hack for smooth local developer experience while targeting swarm for production)

[2022-02-24 14:36] ndeloof commented on #9202
Can you please clarify what you expect compose output to look like so it is "greppable"?
I.e what's the command you'd like to type that would include use of `grep`?

[2022-02-24 15:05] ndeloof commented on #9202
eventually understood the issue during a chat session with @glours :)
so, basically, before 2.2.3 we had code to detect current process is running or not within a TTY, and then adjust the way we interact with stdin/stdout. This had some complex side effects for users who want to redirect some stream to stdin, etc.
In 2.2.3 we made this user responsibility to disable TTY (`--no-tty`) when they want

[2022-02-25 01:13] DrEsteban commented on #8986
@eichelkrauta has the right answer. I can _kinda_ understand why it works (due to how the argument parser is currently written), but it's ultimately a poor user experience. The argument parsing code should be updated to be more flexible on positioning.

[2022-02-25 02:48] jamshid commented on #7686
Yes! This maddening bug still exists in the 1.x binary can you download here on GitHub in releases, at least when using `DOCKER_HOST=ssh://dockerserver` on ubuntu 20.04.
`docker-compose version 1.29.2, build 5becea4c`

It causes my `docker-compose run` to fail with:
[code]

Using `"-H "ssh://host"`instead of `DOCKER_HOST=ssh://host` did **not** help.

Removing that binary from /usr/local/bin/ and

[2022-02-25 04:00] jessex7 commented on #9156
Thank you! I never realized that sudo completely (although temporarily) runs the command as root. I thought it merely allowed the user to assume root "authority". Anyway, you corrected that confusion so thank you! I installed it into the /usr/local/... path and it works great now. Thank you again!

[2022-02-25 05:13] abelkbil commented on #9204
@ndeloof yes i have updated as below and i get colon error, mentioned above.
[code]

Error
`invalid interpolation format for services.directoryservice.volumes.[]: "${Env:USERPROFILE}\\source:${Env:USERPROFILE}\\source". You may need to escape any $ with another $.`

I am trying to generate a windows image. and use compose version 3.4

[2022-02-25 07:14] ndeloof commented on #9204
I'm asking about `docker-compose --version` you use, `version: 3.4` actually isn't relevant (and can be fully removed if you use a recent compose release)

[2022-02-25 07:15] ndeloof commented on #9204
Also, please check you can run this container successfully with a classic `docker run -v ...` command, and this is a compose issue.

[2022-02-25 09:00] ndeloof commented on #8986
@DrEsteban `-f` is unfortunately also used by some subcommand as shorthand for `--format`, so allowing use after command would create some more issues.

[2022-02-25 09:00] #8986 closed

[2022-02-25 10:36] thaJeztah opened #9207 "Proposal: add `-i` and `-t` flags on `docker compose run` and `exec`"
The defaults for `-t` / `--tty` (allocate a pseudo-TTY) and `-i` / `--interactive` (Keep STDIN open even if not attached) for `docker compose exec` and `docker compose run` are exactly the reverse as the corresponding `docker (container) run` / `docker container exec` commands.

For `docker compose`, users can _disable_ these options using the `-T` / `--no-TTY` options; we'll unlikely be able to c

[2022-02-25 10:37] thaJeztah commented on #9202
Yes, it's a bit unfortunate that the defaults (for TTY (`-t` / `--tty`) are "flipped" (compose enables it by default); while there's things to say for both approaches (compose focusses more on interactively running things, whereas the docker engine / cli considers that "opt-in"), it makes things somewhat inconsistent (and sometimes quite "subtle").

Curious now; what's the default on compose for a

[2022-02-25 10:59] KoditkarVedant commented on #8379
@chris-crone @ndeloof @ulyssessouza Friendly ping.

[2022-02-25 11:11] niftyhack commented on #9202
@glours

[code]

[2022-02-25 11:27] KoditkarVedant commented on #8913
@nicolas-2008 @ndeloof I unable to reproduce this issue locally. I've used the docker-compose config specified by you.  We can close this issue.

**Output of docker compose version:**
[code]

**Output of docker info:**
[code]

[2022-02-25 12:05] designermonkey commented on #7326
This is a real pain that I've come across also, however, I got a little creative in the meantime to try and work around it. I hope this may be helpful to someone else.

I use makefiles to make the repetitive tying of commands easier, which also allows some extra abilities for things like env vars:

[code]

Please bear in mind that the above is not tested as it's not exactly how I do things, but I

[2022-02-25 12:28] emersonf opened #9208 "images command doesn't handle registry port numbers correctly in v2"
**Description**
If an image ID contains a registry with a port number, `docker compose images` incorrectly treats the port separator as the tag separator when displaying containers.

**Describe the results you received:**

[code]

[code]

**Describe the results you expected:**
[code]

This works correctly in V1:
[code]

**Output of `docker compose version`:**

[code]

**Output of `docker info`:**

[2022-02-25 12:32] thaJeztah commented on #9202
@niftyhack and it _does_ work when adding the `-T` option to the `docker compose exec` ?

[2022-02-25 16:47] chris-crone commented on #7686
@jamshid, are you running into issues with adopting Compose v2?

[2022-02-25 18:31] erm156 commented on #7025
I'm assuming the images that are built separately using the `--ssh` flag are included as services in the compose YAML and that I only need to run `docker-compose up` after the separate builds (the services in my YAML are either pulled from dockerhub or built separately with `--ssh` flag). Is this correct?

[2022-02-25 20:59] tsturzl commented on #7025
@glours Not to be mean here, and certainly you're not to blame for this. But the entire idea of having a Compose Specification just so you can have multiple implementations seems like a massive drawback if it takes 2 years to push an idea through. Or maybe this is a problem with how that specification approval process works? Simply supporting new docker features seems like a high priority for dock

[2022-02-25 21:06] tsturzl commented on #7025
My workaround for this is just to use [Tilt](tilt.dev) since Tilt has supported buildkit for a while. I let Tilt build my images and then I just use compose to run those images, which is also managed through Tilt. In addition I also get automatic rebuild and relaunch based on file watchers. That's seemed like the least hackish workaround for this problem so far.

[2022-02-25 23:55] superchalupa opened #9209 "backwards incompatible cli option change --project-dir"
docker compose v1.29.2 accepted "--project-dir ..."

docker compose v2.2.3:

[code]

[2022-02-26 12:37] FunctionalHacker commented on #6920
I wipped up a solution for this here https://www.reddit.com/r/docker/comments/t1uvxu/dockercomposetoml

[2022-02-26 18:34] jmera opened #9210 "Support setting DOCKER_HOST in .env file"
**Description**

With Compose V1 we have the ability to set a project-specific `DOCKER_HOST` in .env, with V2 this is no longer possible.

**Steps to reproduce the issue:**
1. Add an `.env` file with a custom value for `DOCKER_HOST`
2. `docker compose` commands target the _default_ docker host

**Describe the results you received:**
`docker compose` commands target the _default_ docker host

**Des

[2022-02-26 18:46] ndeloof commented on #7025
@tsturzl lack of progress on this topic within the compose specification is mostly caused by low feedback on the initial proposal.
In the meantime the buildx team proposed some x- extensions (which has been designed by the compose specification to offer a way to experiment and come with a concrete solution, vs a theoretical proposal) and we now have concrete bits we can debate on and move forward.

[2022-02-27 01:38] novirium opened #9211 "`docker config --hash` output does not match `com.docker.compose.config-hash` container label"
Mostly copied from my comment [here](https://github.com/docker/compose-cli/issues/935#issuecomment-1019066293).

While the hash scheme used by `--hash` subcommand for `config`/`convert` is the same, the result it produces never matches the hash stored in the `com.docker.compose.config-hash` container label in compose V2 - a regression from V1.

With `docker-compose`, it used to be possible to comp

[2022-02-27 08:45] #9147 closed

[2022-02-27 11:18] balazs14 commented on #3311
I had docker.app running on an M1 mac, the detachKey (Ctrl-P remapped to something else) used to work. Now I am on an intel mac, probably has a later version of docker.app, and indeed it no longer works.

[2022-02-27 13:24] everflux opened #9212 "docker-compose v2 incompatible volume handling"
**Description**
In docker-compose 1.29 I could mount an empty directory and get the initial content from the overlay FS if the directory was empty (just like with a regular docker -v). This no longer works with docker-compose v2

**Steps to reproduce the issue:**
1. docker-compose up
2. ls -lR

**Describe the results you received:**
Empty directories

**Describe the results you expected:**
Directo

[2022-02-27 14:42] KoditkarVedant commented on #8521
@MicahLyle This seems to work in docker compose v2.2.3. cc: @ndeloof can we closed.

[2022-02-27 16:13] Pchol commented on #7229
In docker compose version 2 is fixed

[2022-02-27 18:42] emerson-pereira commented on #4223
Thank you so much for the clarification. And is there no way to configure var sub in file?

[2022-02-27 18:54] #8521 closed

[2022-02-27 20:39] thinkingerrol opened #9213 "bug: inconsistent interpolation of variables"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**

We work with multiple docker-compose yml files and so far the interpolation of variables works as expected.
At a later stage in our workflow, we run `docker-compose ... config --no-interpolate` to compile the yml files into one.
Using the resulting file, t

[2022-02-27 21:15] thinkingerrol commented on #9213
a workaround is to do some post-processing and change maps into lists in the yml coming from `docker-compose ... config --no-interpolate`:

https://stackoverflow.com/questions/71288500/inconsistent-interpolation-of-variables-format-dependent-missing-interpolation/71288501#71288501

[2022-02-28 00:57] benesch commented on #8761
Hi @ericslandry. Unfortunately this change hasn't made it into a release yet. @ndeloof, is there a release of v2.2.4 planned soon?

[2022-02-28 02:38] BoilingSoup commented on #1259
While I appreciate the documentation, I think the default should be to map ports, and maybe use aliases too.
If I didn't want port mappings I would not define the port mappings in the first place.

Or if the default could be configured through docker-compose.yml that would be a good compromise too.

[2022-02-28 07:44] gavin-shaw commented on #8449
This worked for me too thank you.

In case anyone is confused like I was briefly, there is a "features" config node in both devcontainer.json and your local Docker configuration.

You must change your local Docker configuration, not devcontainer.json:

![image](https://user-images.githubusercontent.com/68480601/155943722-19b49ecf-148a-451f-8c73-eb81a4f1b453.png)

[2022-02-28 09:00] ndeloof commented on #9212
I'm not sure why/how this behavior exists with docker-compose v1, but that sounds weird to me an explicit bind mount does not override the image content.
I can understand the benefit for volume to be created with initial content from image. This is the case if your Dockerfile declares a VOLUME and your service configuration does not set an explicit mount for it ("anonymous volumes"), but I didn't

[2022-02-28 09:02] ndeloof commented on #9211
Confirmed. Need to be fixed, thanks for reporting

[2022-02-28 09:20] #9211 closed

[2022-02-28 09:52] niftyhack commented on #9202
@thaJeztah

Somehow, but the output is mangled:

[code]
`~/tmp/docker-compose` is part of my prompt, which display the current working directory on an extra line.

You can see it better if you pass `--help` as an option for `ls` in the container and grep the output of `ls --help`:
[code]

The output is also mangled if I just do `docker-compose exec -T web ls --help`, but somehow I can't paste the

[2022-02-28 12:20] gebrouwe commented on #8186
Got the same error "failed to get console mode for stdout: The handle is invalid." for the command "docker compose run --rm <service> <command>".
The error disappears when I replace "docker compose" by: "docker-compose".

I am using Docker Desktop for Windows 10.

$ docker --version
Docker version 20.10.10, build b485636

$ docker-compose --version
docker-compose version 1.29.2, build 5becea4c

[2022-02-28 15:05] zapoig commented on #9213
I'm wondering if that is not related to #9160 ?

Are the '_$_' signs escaped in your resulting `repro.yml` file ?

[2022-02-28 16:03] thinkingerrol commented on #9213
I'm not sure why this issue got the label `Docker Compose V1` specifically. Maybe because I forgot to mention: adding `version: '2'` or `version: '3'` to the top of `one.yml` and `two.yml` does not change the actual behavior. Same with adding the `--compatibility` flag (without version, with version 2, with version 3).

[2022-02-28 17:30] cdupont opened #9215 "Panic when using "docker-compose down""
**Description**

I get "index out of range" when using "docker-compose down".

**Steps to reproduce the issue:**

My docker-compose.yml:
[code]
I do:
[code]

Note that there are several containers with similar names:
[code]

**Output of `docker compose version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details:**

I'm running on a Raspberry 4 with arm64.
[code]
[co

[2022-02-28 23:16] simue opened #9216 "Inconsistent behaviour for project name containing dots"
**Description**

If your project name contains dots, the dots are going to be removed when using  `compose -p <project.name> up`
This can be confirmed by running `compose ls`, where the project is then shown as <projectname>
When trying to shut the project down with `compose -p <project.name> down` the containers are not removed correctly. If the same is done with `compose -p <projectname>` things

[2022-03-01 04:45] bhaveshpp commented on #9063
have you found any solution @MCWertGaming

[2022-03-01 08:37] ndeloof commented on #9215
thanks for reporting this issue.
So container `b09fcec120a6 ` has no assigned name, probably because as part of the "Removal In Progress" state it gets un-named but we fell into some race condition trying to list containers by name.

[2022-03-01 08:44] ndeloof commented on #9215
if this container still exists on your system (or you can reproduce this issue), could you please attach to this issue the result of `docker inspect <ID>` on such an unnamed container? Would help us understand why such a container is detected as part of the `down` command and how to address this issue
(we can offer a fool-guard solution to avoid panic, but better understand possible race condition

[2022-03-01 08:59] Sunnnner opened #9218 "docker-compose network preemptive chaos"
I wrote a service myself, and everything was fine with the other services before this service loaded, but writing this service to docker-compose.yml, the other services name or service not found, Then I pulled back the new service and set up a separate networks for it so that all services could run.

my docker-compose version "3"

[2022-03-01 09:07] cdupont commented on #9215
This morning the container is still there:
[code]
With no name.

[code]
It seems that there is a problem in the removal process... How to avoid it?

[2022-03-01 09:37] qalinn commented on #7423
Hello @ubiuser, I tried how you suggested but it didn't work. I don't have any clue what should I try.
Do you have another suggestion?

[2022-03-01 10:11] snaselj commented on #3683
Same for me, using private JFrog registry

[2022-03-01 11:54] cdupont commented on #9215
Doing:
[code]
Solves the problem temporarily.
But it comes back in my next deployment:

[code]

Here are my Jenkins log (it does a cycle docker-compose down; docker-compose pull; docker-compose up -d:

[code]

Maybe I should wait some seconds between each commands?

[2022-03-01 13:16] raratiru commented on #7436
CLosing this as it is balancing in a gray line of Docker Compose V1.

[2022-03-01 13:16] #7436 closed

[2022-03-01 14:10] luke-hill opened #9220 "Docker in Docker cannot build Ruby on alpine 3.14+"
**Description**

Using compose, build the following image in a Docker in Docker ecosystem (It is only possible with alpine 3.13 and below)

[code]

**Describe the results you received:**
As soon as you use alpine 3.14 and above, you get a permission error.
[code]
**Describe the results you expected:**
It works.

**Additional information you deem important (e.g. issue happens only occasionally):**

[2022-03-01 14:11] luke-hill commented on #9220
EDIT: A simple mitigation strategy would be for someone to continue building on alpine 3.13 (Although this is wholly impractical I admit).

If I need to move this to a different directory / location, please advise. It's not immediately clear where this issue would lie. I've also created the following issues
https://github.com/alpinelinux/docker-alpine/issues/237
https://github.com/docker/docker-py

[2022-03-01 14:58] #745 closed

[2022-03-01 17:24] cdupont commented on #9215
At the moment the problem shows up only when triggered from my Jenkins script.
Here it is: https://github.com/Waziup/WaziGate/blob/master/Jenkinsfile#L39

It calls a script located on the Raspberry PI: https://github.com/Waziup/WaziGate/blob/master/update_containers.sh

If I call that script from the Raspberry PI, it works. The bug show up only when Jenkins calls the script (each time).

[2022-03-01 19:10] #9126 closed

[2022-03-02 02:22] austinsasko commented on #8191
Why is this workaround needed? I had this issue with a remote docker engine on CentOS and a local WSL ubuntu docker-compose 1.29.2 client and would like to see this work without workarounds. Setting COMPOSE_PARAMIKO_SSH=1 does fix it though

[2022-03-02 07:09] #9063 closed

[2022-03-02 07:11] ndeloof commented on #9220
Can you build this Dockerfile using plain `docker build ...`?
Do you have buildkit enabled?

[2022-03-02 10:14] luke-hill commented on #9220
[code]

[2022-03-02 10:23] ndeloof commented on #9220
ok, so this isn't a compose issue. And according to the logs you're using the classic builder.
@glours can you please transfert this to docker/cli, I don't have permission to

[2022-03-02 10:25] luke-hill commented on #9220
That's fine. I've spent 2months and I've got nowhere, it's likely I'm looking in the wrong area/s. But I have basically been on my own. If people could give me 2-3 hints / tips to check I'm happy to help.

Also just for clarity, the issue is only when moving from alpine 3.13 to 3.14+ (However staying on alpine 3.13 isn't possible any more).

[2022-03-02 10:31] ndeloof commented on #9220
Could you please attach your `Gemfile` so we get a reproduction scenario?

[2022-03-02 10:34] ndeloof commented on #9220
Also, unclear to me: why did you mentioned "Docker in Docker" that doesn't appear in your description

[2022-03-02 10:39] luke-hill commented on #9220
Gemfile is irrelevant.

We use CI docker in docker.

[2022-03-02 11:11] ndeloof commented on #9220
Maybe but I can't reproduce issue using your Dockerfile without. Or maybe you can offer a minimalist reproduction scenario?

[2022-03-02 11:22] luke-hill commented on #9220
the issue here is as described.

Docker in Docker, using alpine 3.14+

[2022-03-02 11:26] ndeloof commented on #9220
Right, but - again - can you please confirm you can build this Dockerfile with a plain `docker build .` without using DinD.
The more details you give and ability we have to reproduce, the earlier/easier we can offer assistance. Here I'm blind with your issue

[2022-03-02 11:28] luke-hill commented on #9220
This is **only** an issue when using DinD alpine 3.14+
Building on DinD using alpine 3.13 💚
Building locally using docker-compose with any version of alpine 💚
Building locally using docker with any version of alpine 💚

[2022-03-02 11:54] ndeloof commented on #9220
ok. So we need to move this issue to the relevant repository (probably moby/moby?)
But without a reproduction Dockerfile, this probably won't get any step forward.

[2022-03-02 11:57] luke-hill commented on #9220
The repro dockerfile is attached. You can even diet it more.

The issue is the single command `gem install bundler.....`

[2022-03-02 12:00] ndeloof commented on #9220
ok.
Then, please prepare a minimal Dockerfile to demonstrate this bug, then report an issue on moby/moby as this definitively is the wrong repo for this

[2022-03-02 12:00] #9220 closed

[2022-03-02 12:37] ndeloof commented on #9218
Please let us know version of `docker-compose` tool you're using (`docker-compose version`)

Please also attach a (minimal) compose file demonstrating this issue

[2022-03-02 15:04] lauer commented on #1092
I see the same problem with the same docker-compose version - and thanks, the `-T` works solved the issue for now.

`docker-compose -f $compose_file run -T --rm tests ci/script.sh`

[2022-03-02 16:11] patientplatypus6 opened #9223 "Healthchecks vs. waitfor.sh in docker-compose?"
What is the preferred method for checking the health of docker containers in v3? The documentation recommends using `waitfor.sh` https://docs.docker.com/compose/startup-order/ but another developer is successfully running a docker-compose instantiation using healthchecks. Which is the preferred method, given that both appear to work, and why?

[2022-03-03 00:41] bpogodzinski commented on #7025
@ndeloof could you please tell me how much time, more or less, we will have to wait for this?

[2022-03-03 01:35] chuoke commented on #745
The first time I saw such a scene. It was a basic and generic feature.

[2022-03-03 06:47] sajusat commented on #7025
@bpogodzinski Lol!!! I have been waiting for this feature for the past 2 and a half years and counting.....sort of gave up actually. Don't keep your hopes too high!

[2022-03-03 07:09] ndeloof commented on #7025
@sajusat @bpogodzinski things changed with the launch of Compose v2, sort of re-birth for the compose project, with an open-process to evolve the file format.
There are way too much issues which have been never answered, or even rejected just by the opinion of a single maintainer :'( Hopefully we are now out of this dark ages, and can move forward

[2022-03-03 07:18] ndeloof commented on #7025
@bpogodzinski next steps:

1. `ssh` support in compose yaml file format is being discussed here : https://github.com/compose-spec/compose-spec/pull/234. Feel free to comment it there's anything unclear in this proposal, or you're missing some important use-case.
1. Once adopted we can implement support in compose-go (loading yaml, not a big deal) and docker/compose, which should be easy as feature

[2022-03-03 09:11] 1ace opened #9224 "The `latest` release went backward in the last 24h"
In the last 24h, *something* happened on this repo that caused the [`latest` release](https://github.com/docker/compose/releases/latest) to go backward from `v2.2.3` to `v2.2.2`, which happens to be a problem for me because of [this severe bug in `v2.2.0` to `v2.2.2` preventing docker compose from being able to stop](https://github.com/docker/compose/issues/9003), which was fixed in `v2.2.3`. This

[2022-03-03 09:19] glours commented on #9224
@1ace
Can you retry, it should be fixed now

[2022-03-03 10:19] 1ace commented on #9224
Indeed it's fixed, thank you very much! I was hoping for it to be fixed within a few days, but you actually fixed it within 10 minutes :muscle:

[2022-03-03 10:19] #9224 closed

[2022-03-03 12:21] eabykov commented on #9223
@patientplatypus6 if one service needs another to be started before it starts (for example, the database must be available before the start of the web application), then the wait for database logic is best implemented in the application itself so that when switching from docker compose to Kubernetes or anywhere else, you do not need to re-do the wrapper for each application there

In docker compos

[2022-03-03 12:26] eabykov commented on #9223
@patientplatypus6 example of combination `depends_on` and `healthcheck` you can find here: https://github.com/eabykov/keycloak-compose

[2022-03-03 13:12] ndeloof commented on #9223
from an architecture point of view, having your code to be resilient regarding database availability is indeed the best approach, but maybe you need to run some service you didn't designed, or you just don't care :P Then using `depends_on` is the way docker compose allows you address this issue, and you can configure `condition: service_healthy` so that container will only be started after it's de

[2022-03-03 13:12] #9223 closed

[2022-03-03 15:01] ndeloof opened #9226 "[proposal] `docker compose config --parameters` to list compose file variables"
Archived project [Docker app](https://github.com/docker/app) offered an interesting feature regarding compose file variable interpolation. To avoid relying on uncontrolled environment variable substitution, it offered a migration path from a compose.yaml file to extract all variables as "parameters"

To address this use case, I suggest we introduce `docker compose config --parameters` to list vari

[2022-03-03 20:14] crisbal commented on #3497
@jsmilani I am finding a similar problem. I have a compose file with some services with static IP and some without. Depending on the combinations of services I start, I sometimes get the `Address already in use` issue. I do not want to configure all the IPs manually.

Have you found a solution for this?

[2022-03-03 21:34] teror4uks opened #9227 "CONTRIBUTING.md file. The slack link to sign-up is outdated."
The slack link to join Docker Community is outdated. Might be better to replace the link to [docker-community page](https://www.docker.com/docker-community)

**Steps to reproduce the issue:**
1. Go to the [CONTRIBUTING.md file](https://github.com/docker/compose/blob/v2/CONTRIBUTING.md) and try to sign up in the slack by the followed link.

**Describe the results you received:**
Impossible to creat

[2022-03-03 22:33] alxandr3 commented on #7616
I ran into the same issue and thought a Docker feature was also the way to go, but ended up realizing that the best solution is in systemd (imo).
Look in the output of:
`systemctl list-units | grep mount`
(or systemctl list-units | grep /mnt - depending where your stuff is mounted) to get the name of the unit of your NFS share (_something.mount_).

Then edit Docker's systemd config:
/etc/systemd/s

[2022-03-03 22:53] jsmilani commented on #3497
We didn't find a general docker-compose solution, we ended up working around the issue using a custom consul image so we didn't have to use static IPs anymore. Seems like it is best to avoid using static IPs with docker-compose.

We used some other interesting behaviors of docker to help do this so our solution may still work in other situations. We take advantage of the fact that docker's default

[2022-03-03 23:11] crshumate commented on #8221
As I previously mentioned on the closed issue #6336 this is an issue in Travis-CI as well. Just wanted to pass along my experience on an open ticket.

[2022-03-04 01:40] Sunnnner commented on #9218
Thanks for the answer, I've solved the problem now, it's not that docker-compose went wrong, it's that I had a problem with my scripting

[2022-03-04 01:40] #9218 closed

[2022-03-04 07:08] crisbal commented on #3497
Thanks @jsmilani I will investigate a bit what you suggested.

My use case is somewhat simpler, I have a sort of local stack that I want to start with docker-compose.
It is composed by a reverse proxy (which I want to make it listen locally on `my-stack.dev`), a bunch of services (that are served by the reverse proxy on `service-name.my-stack.dev`)  and an internal DNS which resolves `*.my-stack.d

[2022-03-04 11:16] ndeloof commented on #8221
`docker <space> compose` (compose v2) has been released in September, you should consider updating

[2022-03-04 11:25] #9227 closed

[2022-03-04 12:05] thomashbrnrd commented on #8523
Similar issue here on MacOS using an M1 chip.
<img width="714" alt="image" src="https://user-images.githubusercontent.com/17519882/156760362-9c9dfed3-f7fe-4de8-b1d2-d87ac7887bc2.png">
<img width="872" alt="image" src="https://user-images.githubusercontent.com/17519882/156760429-35f1bfa2-ebf0-4f5d-8268-8a83732b05d1.png">

[2022-03-04 14:36] Flame239 commented on #9022
I'm observing similar behaviour on Docker Compose version v2.2.3 and also on `ps` command.
Altohugh `down` command works with uppercase project name because of this: https://github.com/docker/compose-cli/issues/2023

[2022-03-04 14:50] DD-coding commented on #8523
Problem still exists for me too.

- Docker Compose version v2.2.3
- Docker Desktop 4.5.0 (74594)
- macOS Catalina 10.15.1

But it looks like only my `postgres:12` service is affected.
As soon as I remove `restart: unless-stopped` it works fine.

[2022-03-04 15:07] ndeloof commented on #8523
@DD-coding I'm using this compose file, trying to reproduce this issue:
[code]

.. but everything works as expected for me
[code]

[2022-03-04 15:33] DD-coding commented on #8523
@ndeloof I tested it by adding `unless-stopped` again. But the error does **not** immediately reappear.
Maybe it is some other underlying issue. But it seems so fitting as the error appears the first time after updating Docker Desktop 🤔
I'll further investigate. Sorry for bothering.

[2022-03-04 16:33] #9207 closed

[2022-03-04 18:36] TrentonAdams opened #9232 "docker-compose build results in repository pull errors for local images"
**docker-compose build results in repository pull errors for local images**

Sample broken project at: [https://github.com/TrentonAdams/compose-bug](https://github.com/TrentonAdams/compose-bug)

According to the [docker compose documentation](https://docs.docker.com/compose/compose-file/compose-file-v3/)

It used to do just that, but now it just breaks.

Running this just works...
[code]

Running

[2022-03-05 14:37] thespad opened #9233 "Support assignment of a default `profile` (v2)"
**Description**

The current implementation of `profiles` allows for zero or more profiles to be assigned to a service but if you assign one or more then you cannot also have a service be part of the default profile set, in a similar way to `networks` where not specifying a network assumes the service is attached to the `default` network, but if you attach it to the `foo` network can you *also* at

[2022-03-05 17:42] JulienGrv commented on #8797
I can confirm the issue. docker-compose v1 recognizes the proxy settings in ~/.docker/config.json but docker-compose v2 does not.

[2022-03-05 18:48] felipecrs opened #9234 "`no such project:` when `compose run` after v2.3.0"
**Description**

**Steps to reproduce the issue:**
1. `docker-compose run <service-name>`

https://user-images.githubusercontent.com/29582865/156896373-0ccf3301-acac-4afe-b506-e3b59d83743f.mp4

**Describe the results you received:**

[code]

**Describe the results you expected:**

To work, as it was working before v2.3.0.

**Additional information you deem important (e.g. issue happens only occasi

[2022-03-05 21:57] ndeloof commented on #9233
You could use `docker compose --profile "*" <command>` to run command with all services enabled

[2022-03-05 22:01] ndeloof commented on #9232
It seems build fails while pulling the base image use in your service's Dockerfile.
Can you check a plain good old `docker build` is successful for your Dockerfiles when Buildkit is enabled?
( run `DOCKER_BUILDKIT=1 docker build <context_path>`)

[2022-03-05 22:55] TheSpad commented on #9233
Huh, is that documented anywhere? I had tried `--profile *` previously and it didn't work but I hadn't thought to try wrapping it in quotes.

It's better than the current situation but it would still be preferable to be able to have a service be part of a "named" profile and still part of the default one.

[2022-03-06 05:42] TrentonAdams commented on #9232
@ndeloof Indeed it does work, as mentioned.  Just run ./build.sh

[2022-03-06 07:42] antoineco commented on #9234
I'm seeing something similar after starting containers from multiple Compose files:

[code]

In this example, I have 2 services "service-a" and "service-b" defined in `docker-compose.yml` (which were already running from a previous "up"), and start a third service "service-c" from a separate `additional-compose.yml`.

Now any operation that's executed without including `additional-compose.yml` fai

[2022-03-06 11:44] ayush-san commented on #722
@kristianheljas Were you able to solve it? I am also facing the same issue. All the ports are assigned to the first container and second one is getting the error

[2022-03-06 12:25] nicolas-2008 commented on #8913
@KoditkarVedant , it is reproducible in docker-compose 1.29.2 which is a default version in current Docker Desktop (4.5.1).
`docker-compose --version`
`docker-compose version 1.29.2, build 5becea4c`

I can confirm it is working as expected if I enable 'Use Docker Compose V2' in Docker Desktop settings.

[2022-03-06 12:59] hholst80 commented on #9090
Why does compose config remove the top level x- but not the nested x- fields? Inconsistent. If compose care about sub top level extensions it should obliviously also keep the top level, correct?

The reason why I used x-volumes was to keep volumes definitions together in one place for visibility.

[2022-03-06 16:41] Jasper-Ben commented on #9234
Can confirm this issue. This is related to the folder in which the docker-compose project resides:

e.g. having a `docker-compose.yml` in a folder named "test" with the content

[code]

and running `docker-compose run alpine` will result in the error message `no such project: test`.
Changing the service name in accordance to the folder name also does not help. `docker-compose.yml` with the content

[2022-03-06 17:55] ardrabczyk opened #9235 "Building with Docker 19.03.8 can fail if `runc` is too old"
**Description**

In BUILDING.md it says that _Docker 19.03 or later_ is a prerequisites but building with 19.03.8 can fail if `runc` is too old as described at https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.14.0#faccessat2

**Steps to reproduce the issue:**

Run `make`

**Describe the results you received:**

    [make-compose-plugin 1/1] RUN --mount=target=.     --mount=type=cache,t

[2022-03-06 19:08] rimelek commented on #9234
I have the same issue. The only way I can run a service with v2.3.0 is when I start at least one container in a project using `docker compose up -d`. After that I can use `docker compose run`. The problem is that I need to use `docker compose run --rm` before I start any other container. It works perfectly with v2.2.3 on MacOS and also Linux.

@antoineco

I could not reproduce your issue. It surpr

[2022-03-06 21:49] antoineco commented on #9234
@rimelek you're right, I tried to simplify and it doesn't fail either. I should have double checked.
The real failure that I'm seeing happens with [a few more services](https://github.com/deviantony/docker-elk/runs/5437866784?check_suite_focus=true), yet similar commands.

[2022-03-07 00:18] victor-timofei opened #9236 "Broken json format for version subcommad"
**Description**

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
`{"version":"v2.3.0-2-gfcff3963"}\n`
The newline character was not escaped properly

**Describe the results you expected:**
`{"version":"v2.3.0-2-gfcff3963"}`
With a newline.

**Additional information you deem important (e.g. issue happens only occasionally):**
The json format is printed with:
[code]

[2022-03-07 00:24] Hronom commented on #745
Yep crazy, now it's closed

[2022-03-07 06:29] glours commented on #745
@chuoke @Hronom what is the problem?
The feature was implemented on the Compose Specification and Compose-Go level, then the version of Compose-Go was upgraded in Compose v2.
So you can now add a `project-name` to your Compose files

[2022-03-07 06:57] chuoke commented on #745
Just an exclamation. Thank you work very much.

[2022-03-07 07:03] ndeloof commented on #9234
I can confirm this regression, looking into this

[2022-03-07 07:21] ndeloof commented on #8797
@crazy-max we already pass CLI's `ConfigFile` folder to `Build`: https://github.com/docker/compose/blob/v2/pkg/compose/build_buildkit.go#L51
Is there anything else needed to transfert proxy settings to buildx?

[2022-03-07 07:24] crazy-max commented on #8797
@ndeloof This has been fixed in https://github.com/docker/buildx/pull/959 (v0.8.0-rc1 atm).

[2022-03-07 07:36] ndeloof commented on #9232
Ok got it.
The issue here is that your second service is built using another service image as base image. But buildkit builds are strictly isolated, and can't manage such cross-build dependencies.
see https://github.com/docker/buildx/issues/447

[2022-03-07 07:42] #9234 closed

[2022-03-07 07:42] ndeloof commented on #9232
it seems this buildx limitation has a workaround: https://github.com/docker/buildx/blob/v0.8.0-rc1/docs/reference/buildx_bake.md#using-a-result-of-one-target-as-a-base-image-in-another-target
but this require some explicit declaration, and as such need to parse `Dockerfile`... :'(

[2022-03-07 07:47] bno1 commented on #9234
So the only solution is to downgrade until the fix is released?

[2022-03-07 07:54] glours commented on #9234
@bno1 we will do a release today, we have some check to do before

[2022-03-07 09:33] ndeloof commented on #9232
Ran a quick prototype:
we can set build options with `Inputs.NamedContexts` set to all (other) services `NamedContext{ Path: service.Build.Context }`. Doing so, buildkit knows about other images being built and will build them in dependency order (and still improve parallelism where feasible)
Unfortunately this fails with `unsupported frontend capability moby.buildkit.frontend.contexts` if one doe

[2022-03-07 10:18] ghislain-bernard commented on #9053
Hello,
I have exactly the same problem links tag KO into bridge mode.... le I went back to docker-compose version 1.29.2.
Best regards.

[2022-03-07 11:43] Paraphraser commented on #9059
I want to confirm that this is still a problem with versions 2.2.3 and 2.3.0.

[2022-03-07 13:04] andoks commented on #8544
I am having this same issue using docker compose v2.2.3. When using docker contexts created by `docker context create my_host --docker "host=ssh://my_host" --default-stack-orchestrator=swarm`, `docker ps` works `docker-compose ps` does not work. By modifying msbarry's solution, and using docker context with a redirected socket over ssh, it works fine (with both docker and docker compose)

[2022-03-07 13:20] nocive opened #9239 "Project name behavior 2.3.0 regression (`no such project: <project name>`)"
**Description**

An otherwise working project under compose 2.2.3 now throws `no such project: <project name>` errors.

The only thing special about this project is that it uses `COMPOSE_PROJECT_NAME` environment variable to define the project name. Unsetting the environment variable results in a warning + the same error:

[code]

I suspect the error happens when trying to remove a container that

[2022-03-07 13:24] glours commented on #9239
duplicate of #9234
A new release is coming soon

[2022-03-07 13:24] #9239 closed

[2022-03-07 13:27] glours commented on #9239
No worries, it's because this issue is already fixed and closed, we're currently doing some check and will do a fix release if everything is ok

[2022-03-07 16:13] glours commented on #9239
release with the fix available https://github.com/docker/compose/releases/tag/v2.3.1

[2022-03-07 16:46] TrentonAdams commented on #9232
I'm wondering, why did this previously work then?  I mean I originally setup my project to use buildkit features (e.g. --mount), so it would have never worked if buildkit was always doing it the way it is now.

[2022-03-07 17:04] nocive opened #9240 "Usage of `--no-recreate` flag intermittently leads to `strconv.Atoi: parsing "": invalid syntax`"
**Description**

Using the `--no-recreate` flag with `up -d` some times leads to the error `strconv.Atoi: parsing "": invalid syntax`.
Repeating the same command will most of the time lead to a successful execution.

I do not have a reproduction scenario since it's not consistently reproducible, but I've been observing this behavior since the early versions of compose v2, eventually avoiding using

[2022-03-07 17:08] nocive opened #9241 "Stopping container with dependencies leads to `no such service: dependent-service` (2.3.1 regression)"
**Description**

Attempting to stop a running container with dependencies leads to a `no such service: dependent-service` error.
Repeating the same will yield back different dependent service names.

This broke in `2.3.1` and worked fine before.

**Steps to reproduce the issue:**
1. `docker compose stop some-container`

**Describe the results you received:**
 `no such service: dependent-service`

[2022-03-07 17:23] artnaseef commented on #745
Agreed.  This is most welcome.

On Sun, Mar 6, 2022 at 11:58 PM Chuoke ***@***.***> wrote:

[2022-03-07 17:29] ndeloof commented on #9232
docker-compose v1 run builds sequentially, so even with buidlkit enabled, you get base images to have been built when service image build is triggered

[2022-03-07 20:18] teror4uks commented on #9226
Do you suggest showing runtime values for variables regarding this [interpolation spec](https://github.com/compose-spec/compose-spec/blob/master/spec.md#interpolation)?

Or re-implement the `parameters` feature from `Docker app` project?

[2022-03-07 20:32] ndeloof commented on #9226
only show variables.

something like this (assuming this is feasible :P) :
[code]

[2022-03-07 22:04] jchook commented on #8098
This line *seems* like it should properly copy stdio properly:
https://github.com/docker/compose/blob/0ef4b90fae0d54bd4555eda877abf082afa4a2b1/pkg/compose/exec.go#L112

Looks like [stdcopy.Stdcopy()](https://github.com/moby/moby/blob/327699c313f51f8062cf3affcb3746f56f3689c6/pkg/stdcopy/stdcopy.go#L94) is supposed to demultiplex output from StdWriter.

Presumably the data from [HijackedResponse](ht

[2022-03-08 00:56] ouuan opened #9243 "Use draft release in GitHub Actions Releaser so that users get the correct release notification email"
Now Docker Compose is using [GitHub Actions](https://github.com/docker/compose/blob/v2/.github/workflows/release.yaml) to automatically make new releases. However, the release is set to be a pre-release and no changelog is provided.

When a user is watching the repo for new releases, they only get a single notification email which is based on the information when a release is first published, not

[2022-03-08 06:32] WernerRaath commented on #3633
I'm not sure of the specifics, but my guess would be that something unexpected happened at System.d startup, probably some race condition that reads a config from somewhere. The `tty=true` condition would probably come from a config and the fact that one has to set it manually occasionally indicates that the config was probably not read

[2022-03-08 08:07] ndeloof commented on #9243
we manually promote draft releases and generate changelog
see https://github.com/docker/compose/releases/tag/v2.3.1

[2022-03-08 08:10] ndeloof commented on #9243
Maybe we just need to set `generateReleaseNotes`

[2022-03-08 08:17] ouuan commented on #9243
I mean the `draft` option, not this action.

[2022-03-08 08:22] ouuan commented on #9243
By "draft release" I mean an unpublished release draft, not a published release with empty text content. On GitHub you can draft a release without publishing it. With `ncipollo/release-action` you can use the `draft` option to do so.

[2022-03-08 08:25] ndeloof commented on #9243
yep, makes sense

[2022-03-08 08:29] ndeloof commented on #9233
profile have been designed to allow declaration of some optional resources, that should not be enabled by default. If you want a service to be part of the "default" profile, why do you declare a profile for it? Your use case is a bit unclear to me.

[2022-03-08 08:34] ndeloof commented on #9235
Did you installed Docker using our system packages as documented on https://docs.docker.com/engine/install/?
Those include our containerd and runc dependencies so should not have such issues

[2022-03-08 08:40] #9236 closed

[2022-03-08 08:41] ndeloof commented on #9240
If you get this to happen again, could you please run `docker inspect` on your containers for this compose project and check they all have a valid `com.docker.compose.container-number` label?

[2022-03-08 09:36] ndeloof commented on #8098
Thanks to https://github.com/docker/cli/pull/3436 we should be able in a future release to fully align with `docker exec` behavior and won't have to manage re-implementing all the corner cases

[2022-03-08 10:25] TheSpad commented on #9233
So I have a collection of services with depdendencies that need to be sent a `stop` before an `up` because (AFAIK) `up` still does not respect `depends_on` and recreate dependent containers in the correct order. There are also some services that are independent and don't need to be stopped before updating.

What I'd like my workflow to be is:

`docker compose pull`
`docker compose --profile foo st

[2022-03-08 10:49] ndeloof commented on #9233
ok, so the root cause for asking this is "up still does not respect depends_on and recreate dependent containers in the correct order". Did you opened an issue for this?

[2022-03-08 10:49] roboticflamingo commented on #3927
Check that you are not running docker run when you want docker exec... I had this issue when I was using a docker-compose run on an already started container (among others) in Ubuntu 20.04 on a mac VM. WSL2 + ubuntu doesnt have these issues.

[2022-03-08 10:52] TheSpad commented on #9233
Not against v2 - there was definitely one for v1 but I wasn't the person who opened it.

[2022-03-08 11:04] ndeloof commented on #9233
I'm not aware of such an issue with v2.
Gave a quick try using this minimal compose.yaml file:
[code]

work as expected:
[code]

[2022-03-08 12:07] TheSpad commented on #9233
So I just ran this test (truncated compose) with `Docker Compose version v2.2.3`:
[code]
And with a `docker compose up --force-recreate -d` it does
[code]
Then
[code]
And then starts them in the correct order (`vaultwarden-db` then `vaultwarden`)

[2022-03-08 14:55] #9184 closed

[2022-03-08 15:35] ardrabczyk commented on #9235
No, I didn't, I installed everything using my OS package manager.

But I'm not asking for help, I'm reporting a bug in the documentation.

[2022-03-08 15:41] LongBeachHXC commented on #7273
I can confirm the workaround above works great. Doing the `sudo su` workaround also worked for me but this one is better since we don't need to switch into root.

[2022-03-08 17:02] 3rd3 opened #9248 "Secret does not get mounted in Dockerfile at build time"
**Description**

I am trying to mount a file as a secret, however I am unable to access it.

**Steps to reproduce the issue:**

Dockerfile:

[code]

docker-compose.yml:

[code]

To run:

[code]

**Describe the results you received:**

The build process prints an error: `/test: No such a file or directory`

**Describe the results you expected:**

The build process should print `ok`.

**Additional i

[2022-03-08 19:11] TheSpad commented on #9233
I should clarify, that's not correct behaviour (from my perspective).

When X `depends_on` Y, then Y should start before X and X should *stop* before Y.

In the case of a front end that `depends_on` a database I want the database running before the front end, but I want the front end *stopped* before the database, because pulling a database out from under a running front end which could be perform

[2022-03-08 20:15] teror4uks commented on #9226
looks cool, I would like to participate, if you don't mind :)

[2022-03-08 20:56] 3rd3 commented on #9248
Duplicate of #6358.

[2022-03-08 20:56] #9248 closed

[2022-03-08 22:17] jerryen commented on #9241
Unfortunately this doesn’t seem to be fixed on 2.3.2 and also happens on 2.3.0.

**Output of `docker info`:**

[code]

[2022-03-09 00:50] tyliggity commented on #3435
Obviously, but the request here is that we should be able to specify an alternative file name rather than `.env` for variables available for compose file interpolation.  The relationship here is that the `env_file` mapping is available to do just that for container variables.  So, the same type of mechanism should be available for the `.env` file with respect to the compose file.

[2022-03-09 01:18] antoineco opened #9249 "`no such service` in Compose v2.3.2 when running/stopping services from multiple Compose files"
**Description**

Compose v2.3.2 still seems to be struggling when juggling with services defined in multiple Compose files, and yields `no such service`: https://github.com/deviantony/docker-elk/runs/5473593690?check_suite_focus=true

**Steps to reproduce the issue:**

In the above example, taken from a CI run, I ran the following commands inside the repository https://github.com/deviantony/docker

[2022-03-09 06:09] Paraphraser commented on #9162
Yes! I have the same problem with `device_cgroup_rules`. See issue #9059

The workaround is to use docker-compose 1.29.2 which supports `device_cgroup_rules`. It looks like any docker-compose v2 or later silently ignores `device_cgroup_rules`.

[2022-03-09 07:01] ndeloof commented on #3435
already the case: `docker compose --env-file .my.custom.env.file up`

[2022-03-09 07:04] ndeloof commented on #9241
Oh f***. I forgot to push a commit on my PR :'(
cc @glours

[2022-03-09 07:45] ndeloof commented on #9249
This is actually addressed by https://github.com/docker/compose/pull/9250

[2022-03-09 08:13] antoineco commented on #9249
Closing as duplicate of #9241.
Not sure how I missed that open issue. Sorry, and thanks for the pointer!

[2022-03-09 08:13] #9249 closed

[2022-03-09 10:29] #9241 closed

[2022-03-09 10:34] ndeloof commented on #9162
Closing as a duplicate for #9059

[2022-03-09 10:34] #9162 closed

[2022-03-09 10:41] ndeloof commented on #9059
can you give https://github.com/docker/compose/pull/9251 a try?
(run `make compose-plugin` to build from sources)

[2022-03-09 11:01] ndeloof commented on #9235
we don't maintain Slackware's `docker` package and as such can't guarantee this one includes the required prerequisites. Better report this to Slackware maintainers

[2022-03-09 11:01] #9235 closed

[2022-03-09 11:25] Paraphraser commented on #9059
I'm happy to do that but I'm not sufficiently familiar with the build process that I understand your instructions. I have previously done a `git clone` followed by a make. That worked and produced a binary but the how-to of applying #9251 to that basic process is something I just don't know how to do. I'd really appreciate some extra hints on this. Sorry to be a pain.

[2022-03-09 11:39] KevinRohn commented on #9059
Hey guys,

just now, I was opening a new issue, but I`ve found this one is also existing.
I spend some time writing this issue, so I post it there as a comment. Maybe it helps.

## Description

`device_cgroup_rules` are not working with `docker-compose` version `>=v2.0.0`.
 I spent hours to get hotplug of serial port working on my raspberry pi 3.

With `docker-compose` version `v1.29.2` everything

[2022-03-09 12:10] Paraphraser commented on #9059
TL;DR - it works!

The approach I used to testing #9251:

[code]

Test compose file:

[code]

Three tests:

1. Test 1 = v1.29.2 (succeeds)
2. Test 2 = v2.3.0 (fails)
3. Test 3 = vv2.3.2-4-gd8775c7a (succeeds)

Test structure is:

1. Bring up container.
2. Show `/dev/video0` behaviour outside the container (proving camera is accessible).
3. Repeat same test inside the container - failure always exp

[2022-03-09 12:18] Paraphraser commented on #9059
Seeing as discussion on this topic seems to be converging around this issue, I'll take the opportunity to cross-link to some others I found:

* #5622
* #5718
* #8251

I get the impression that `device_cgroup_rules` support fell out once before and had to be re-added.

[2022-03-09 12:27] #9059 closed

[2022-03-09 13:03] KevinRohn commented on #9059
Thank you guys 👍

[2022-03-09 13:49] Chever-John commented on #8445
Thanks @[cgrycki](https://github.com/cgrycki), I'm a raspberry pi user and this really helped me, thanks again.

[2022-03-09 14:43] nocive commented on #9241
Behavior still changed when compared to previous versions.
Attempting to `rm` a container that is not running gives back an error where previously that was not the case.

[2022-03-09 14:48] nocive opened #9255 "Attempting to remove a not created container throws a `no such service` error (2.3.x regression)"
**Description**

Attempting to `docker compose rm` a not created container fails and throws a `no such service: foo-service` error.
This worked fine in previous 2.x versions before 2.3.x.

**Steps to reproduce the issue:**
1. Remove a container with `docker rm -fsv some-container`
2. Attempt to remove the same container again

**Describe the results you received:**
`no such service: foo-service` a

[2022-03-09 14:50] sonuame commented on #5590
Please fix this. Its making all my pipelines to fail

[2022-03-09 14:50] GrumpyRainbow commented on #9255
I'm seeing the same behavior on `2.3.2`.

[2022-03-09 15:05] nocive commented on #9240
Ran something along the lines of:

[code]

**After** the error occurred and could confirm that every single container had the designated label.

However, I'm wondering if label assignment is asynchronous since most of the time executing the same `up -d` command will succeed after. If that's the case, when labels are inspected after the error occurs it might be too late to reveal the issue?

[2022-03-09 15:14] nocive commented on #9255
remove the service once, attempt to remove again.

[2022-03-09 15:36] #9255 closed

[2022-03-09 15:55] nocive opened #9257 "`up -d --no-recreate` after removing container leads to `Invalid network mode: invalid container format container:<name|id>`"
**Description**

**Steps to reproduce the issue:**
1. Use the following compose project
[code]

2. `docker compose up -d --no-recreate foo`
3. `docker compose rm -fsv foo`
4. `docker compose up -d --no-recreate foo`

**Describe the results you received:**
[code]

**Describe the results you expected:**
A successfully up project

**Additional information you deem important (e.g. issue happens only o

[2022-03-09 17:50] csmith opened #9259 "`docker compose up` no longer recreates container if image is updated"
**Description**

As of v2.3.0, running `docker compose up -d` will no longer recreate containers whose images have been updated. Previously a `docker compose pull; docker compose up -d` would ensure all containers in the compose file were running the latest images.

**Steps to reproduce the issue:**
1. Create a simple compose file:
[code]
2. Start the container with `docker compose up -d`
3. Push

[2022-03-09 17:52] csmith commented on #9259
cc @ndeloof

[2022-03-09 22:11] MariuszCwikla commented on #6169
Actually this would be a useful feature for developers when you want some creds to be generated at local machine and build image at the same time.
E.g. I have my custom `Dockerfile` that sets up jenkins and I want to attach SSH key to the container. Following compose file will not work:

[code]

- `docker compose` fails due to `unsupported external secret`
- `docker stack` fails due to `failed to

[2022-03-10 00:39] StewGoin commented on #9259
Also seeing this behavior on Debian 11 w/ docker-compose from this project and docker repo from docker.com.

Output of my `docker info`:

[code]

[2022-03-10 01:03] dtcooper commented on #9259
Observing this behaviour on Ubuntu 20.04 as well. Rolling back to version 2.2.3 (latest pre-2.3.x version) fixes the problem for me.

[2022-03-10 07:02] ndeloof commented on #9259
Looking into this ...

[2022-03-10 09:10] hacdias commented on #8530
Is there a known workaround for this? This would be quite important for me.

[2022-03-10 09:21] bluebrown opened #9260 "Compose runs one shot service a second time when used with a depends_on condition"
**Description**

In the below compose file, the migration service runs a second time after it completed the first, time.

**Steps to reproduce the issue:**

Run the below stack with `docker compose -p test up`. Simultaneously, watch the docker ps output from another terminal via `watch docker ps`

[code]

**Describe the results you received:**

I can observe that the migration service waits until

[2022-03-10 10:45] mdiasribeiro commented on #7025
The spec has been merged, so this should no longer be blocked?

[2022-03-10 10:51] flyingbarbarian commented on #6569
IPAM gateway is working with v3.8.

My environment is below.
OS:Ubuntu 20.04
Docker:20.10.12
docker comose 1.29.2

Is the doccument incorrect?

[2022-03-10 11:11] #9259 closed

[2022-03-10 14:23] pngmn opened #9264 "docker compose pull fails with adguard home dns server"
**Description**
Doing `docker compose pull` with AdGuardHome as dns server results in the following error

[code]
This happens for all services in the compose file. Doing `docker compose pull [service]` works fine

[code]
According to adguard the lookups are processed and not blocked.
Switching to dnsmasq on the same machine that runs adguard resolves the issue.

**Steps to reproduce the issue:**

[2022-03-10 15:17] guanghwu opened #9265 "When having multiple docker-compose.yml, killing one service affects others"
**Description**
Hello, I recently upgraded docker-compose to 2.3.3 (don't remember my previous version). I have multiple docker-compose.yml and I start them on separate terminals with `docker-compose up`. I don't use `-d` so I can just kill it with ctl+c. Before the upgrade, I could kill one of the docker compose, modify the yml, and re-run it without affecting the other docker compose. However, a

[2022-03-10 20:26] larssb commented on #9145
Anyone on this? I just tried with the `--compatibility` flag to get *docker-compose* *v2* to work as *v1* did. But, no cigar.

See:

<img width="1391" alt="Screenshot 2022-03-10 at 21 24 48" src="https://user-images.githubusercontent.com/5261530/157748736-82d962a4-05f6-4270-bf97-0dc5cc947a1c.png">

---

Thank you

[2022-03-10 23:40] cjones27 commented on #8986
Have the same problem. I suppose it is not fixed yet. Docker seems not to understand when you are running docker commands vs docker compose commands when using the -f flag **and sudo** in Ubuntu. Some examples.

If I run `docker compose -f some/docker-compose.yml up -d` as suggested, I get a permission denied error. If I use sudo, docker thinks it's a docker command, not a docker compose command.

[2022-03-11 00:49] brandon-leapyear opened #9267 "Project name derived from config file path, not CWD"
**Description**

The [docs](https://docs.docker.com/compose/reference/#use--p-to-specify-a-project-name) say that

But doing `docker-compose -f foo/docker-compose.yml` will use `foo` as the project name, not the current directory. Either this is a bug that needs to be fixed, or the docs should be updated.

**Steps to reproduce the issue:**
1. `mkdir mydir && cd mydir`
1. `docker-compose -f foo/doc

[2022-03-11 04:12] c-w opened #9268 "Compose v2 doesn't respect CPUs property"
**Description**

The compose v2 CLI doesn't seem to honor the compose file v2.4 [cpus](https://docs.docker.com/compose/compose-file/compose-file-v2/#cpu-and-other-resources) property.

**Steps to reproduce the issue:**

1. Create the minimal compose file to reproduce the issue:

[code]

2. Run `docker compose up`

**Describe the results you received:**

The value of `/sys/fs/cgroup/cpu/cpu.cfs_quo

[2022-03-11 04:19] zaverden commented on #8550
As temporal workaround I have installed [compose switch](https://docs.docker.com/compose/cli-command/#compose-switch) and applied [v1 completion](https://docs.docker.com/compose/completion/). it requires me to use it as `docker-compose` (not as `docker compose`) but completion works

[2022-03-11 04:27] abelkbil commented on #9204
Docker Compose version v2.2.3.

I have modified my docker file as below. Stil now not able to resolve it.

# escape=`
FROM mcr.microsoft.com/dotnet/aspnet:6.0
COPY . App/
WORKDIR /App
EXPOSE 44309
VOLUME ${USERPROFILE}\source\
RUN echo ${USERPROFILE}\source\
# RUN dir c:\
ENV ASPNETCORE_ENVIRONMENT="Development"
ENV ASPNETCORE_URLS="https://+:44309;"
ENTRYPOINT ["dotnet", "Service.dll"]

[2022-03-11 05:56] MAFLO321 commented on #2235
I think this can be closed:
- https://docs.docker.com/engine/release-notes/#201013
- https://github.com/docker/docker-ce-packaging/pull/638

[2022-03-11 05:56] MAFLO321 commented on #8011
I think this can be closed:
- https://docs.docker.com/engine/release-notes/#201013
- https://github.com/docker/docker-ce-packaging/pull/638

[2022-03-11 06:10] #8011 closed

[2022-03-11 07:16] vndroid opened #9270 "Compose V2 how to use bash completion?"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker compose version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details:**

https://docs.docker.com/compose/completion/ with

[2022-03-11 10:33] thaJeztah commented on #2235
Yes! Let's close this

(additional documentation changes still to follow)

[2022-03-11 10:33] #2235 closed

[2022-03-11 10:52] arpadtamasi commented on #8484
Same here on an M1 MBP

[2022-03-11 11:21] ardrabczyk commented on #9235
Hmm you really don't want to understand the problem. No matter what method you use to install Docker engine you won't be able to build compose with Docker 19.03.8 as it says BUILDING.md. It's a _bug_ in compose documentation.

[2022-03-11 11:48] ndeloof commented on #9235
fixed by https://github.com/docker/compose/commit/fbcd7ee8963b8a73f5fa474120973df599c2d81d

[2022-03-11 13:57] t3chn0m4g3 commented on #6669
Dirty, but works fine if `docker-compose` uses `restart=always`:
[code]

- `-p 1` Monitors PID 1 only and kills process if process CPU usage is > 99%.

[2022-03-11 15:02] patientplatypus6 commented on #184
I'm surprised this is still not a feature. ndeloof is working on this for Docker v2, but this should be in v3 itself as well.
Here's the problem that I'm currently facing.
I'm developing an application using docker-compose v3.9 on mac - which means that I can't use inotif-tools, but have to use fswatch. Which is a bit frustrating, because if I eventually want to port this over to a linux container

[2022-03-11 15:12] ndeloof commented on #184
There's a (common) confusion here between the file format (which is now obsolete with Compose Specification) and the tool version. "Docker Compose v2" is `docker compose` command developed on this repository as `v2` branch.

I expected inotify was working as expected under Docker Desktop, will need to change. A potential implementation of  `watch` command for application stacks which support reloa

[2022-03-11 15:19] rfay opened #9272 "`docker-compose version --short` changed output from `vX.Y` to `X.Y` between v2.2.3 and 2.3.3"
**Description**

`docker-compose version --short` always used `vX.Y` as its format (for example, `v2.2.3`). In v2.3.3 it uses `X.Y` (without the 'v'),

[code]

Since other projects depend on this output, it should remain the same from version to version.

**Steps to reproduce the issue:**

Run `docker-compose version --short`

[2022-03-11 15:44] felipecrs opened #9273 "`up --wait` should not wait for one-shot containers"
**Description**

I guess the title says all.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
It hangs forever, most likely waiting for one-shot containers to be running.

**Describe the results you expected:**
It should stop waiting once all the long-running services are up (running or healthy).

**Additional information you deem important (e.g. issue happens onl

[2022-03-11 18:02] benedikt-bartscher opened #9276 "docker-compose does not respect new image version"
**Description**
Since docker-compose v2.3.0 docker-compose does not detect newer images within the same image tag. With docker-compose v2.2.3 and lower this issue is not reproduceable. I suspect this PR: https://github.com/docker/compose/pull/9214

My example is for locally build images, cause it's easy to reproduce. But the same applies for images with the same tag pulled from remote docker regis

[2022-03-11 18:04] macmoritz commented on #9276
+1

[2022-03-11 18:35] rfay opened #9277 "v2.3.0+: `docker-compose build` fails on linux if Dockerfile not in context directory"
**Description**

On Linux with
* docker-compose v2.3.0+
* A docker-compose.yaml with Dockerfile and context in different directories

`docker-compose build` will fail with
`* Error response from daemon: dockerfile parse error line 1: unknown instruction: .DOCKERIGNORE`

This doesn't happen before compose v2.3.0- and it doesn't seem to happen on macOS in Docker Desktop 4.5.0 or Colima.

**Steps to

[2022-03-11 19:14] larssb commented on #9172
Did you figure it out @MichaelKim0407 ?

[2022-03-11 20:24] johnthagen commented on #8575
3 days ago this was merged, which likely is of interest to this thread:

- https://github.com/docker/docker-ce-packaging/pull/553

[2022-03-11 20:46] mk-pmb commented on #3962
I'd like to have them as well.

[2022-03-11 22:00] johnnybenson commented on #3435
It's pretty inexplicable for variables to interpolate implicitely from `.env` but not from the `env_file: './jarrod.env'` expressed within `docker-compose.yml` for the given service—especially in 2022 with monorepos coming back into style. Each application within a single repo will have its own `.env` in its subdirectory and Docker requires instrumentation from a place higher up in the repository

[2022-03-12 01:47] rfay commented on #9276
It also seems not to detect a changed Dockerfile, for example.

[2022-03-12 05:24] putrafajarh commented on #6975
did u fix this or solution may share?

[2022-03-12 05:36] cullylarson commented on #6975
@putrafajarh I never found a solution other than downgrading. Though, I haven't worked on the project that exhibited this behavior in a while.

[2022-03-12 12:36] johnytiago commented on #8895
Hey folks, sorry to be re-opening the issue. But even with the latest version `compose: Docker Compose (Docker Inc., v2.2.3)` we're still having the same problem. All project volumes, even the ones declared outside of the compose file are deleted when running `down --volumes`

[2022-03-12 15:21] ndeloof commented on #3435
`env_file: './jarrod.env'` set in your compose.yaml file is here to define container's environment, it has no impact on the variable interpolation.  Just consider this a 1:1 mapping with `docker run --env-file`.

[2022-03-12 21:55] petrprikryl commented on #9138
https://docs.docker.com/compose/extends/#adding-and-overriding-configuration

[2022-03-12 23:23] rfay commented on #9276
It seems that `docker-compose up` does not recreate a container if a build Dockerfile has changed, whereas in most of the history of `docker-compose` it has caught that on `docker-compose up` and done a "recreate"

@benedikt-bartscher does your situation get resolved with a `docker-compose down && docker-compose up` ?

[2022-03-13 02:18] miaoz2001 commented on #3729
Hi

It might be just me, but I want to override the `environment` by removing it from the root file, then use env_file in the .dev.yml file. :)
Is there a workaround?

[2022-03-13 12:25] KulykDmytro commented on #3220
Folks, find weird behavior in tools:
[code]
however
[code]

[2022-03-13 12:46] ndeloof commented on #9276
This has been fixed by https://github.com/docker/compose/pull/9261

[2022-03-13 12:46] #9276 closed

[2022-03-13 12:47] ndeloof commented on #9138
This issue has been fixed in docker compose v2, consider upgrading

[2022-03-13 12:47] #9138 closed

[2022-03-13 12:48] ndeloof commented on #9172
I'll look into this on Monday, thanks for reporting

[2022-03-13 15:05] pprudev commented on #3608
My suggestion is to just pass build arguments defined in docker-compose.yml to specified service context, or to pass them to each specific context if general build command was used. Please also ensure that using `--build` flag in other commands like `docker-compose create` should also attach build arguments defined in specified configuration file. When you have multiple arguments it's a real heada

[2022-03-13 19:10] VedranVukoje commented on #9132
Hi. I got same issue. I am using docker with minikube . [Docker desktop replacement](https://minikube.sigs.k8s.io/docs/tutorials/docker_desktop_replacement/)
I also try with docker-machine I got same error.
`Error response from daemon: invalid volume specification: 'C:\Users`

$ docker compose version
Docker Compose version v2.2.3

Kind regards.

[2022-03-13 21:43] alitoufighi commented on #9268
I'm having the same issue. Running the equivalent `docker run` command will set it but `cpus:` in docker-compose doesn't.

[2022-03-14 07:22] ndeloof commented on #9172
I tried to reproduce this issue without success:
[code]

[code]

[2022-03-14 08:25] MichaelKim0407 commented on #9172
@ndeloof

`docker compose down -v`

**-v**

[2022-03-14 08:33] ndeloof commented on #9172
@MichaelKim0407 sorry, bad copy/paste in my comment. using `-v` leaves `foo` volume impact

[2022-03-14 09:02] MichaelKim0407 commented on #9172
OK I recreated my scenario when I reported the bug. I was running some automation and I created the volumes with docker-compose.

If you have

[code]

you can create the volume by running `docker-compose up -d`.

Now if you remove the comment and declare the volume external,

[code]

So it looks like docker-compose v2 somehow "remembers" if a volume is created by docker-compose, and does not check

[2022-03-14 09:10] ndeloof commented on #9172
@MichaelKim0407 right, doing so the volume is created with com.docker.compose.project label and will be detected as "owned by project" then removed. This is a side effect for `docker compose down` to only relies on project name, not the compose.yaml file (which might have been updated after application was created). For backward compatibility we _should_ only apply this logic when user explicitly

[2022-03-14 09:25] MichaelKim0407 commented on #9172
@ndeloof Thanks.

I'd also add that, as a general design choice, `docker-compose` should not rely on historical information for its behavior - it will become a maintenance nightmare. DevOps engineers (your users) DO NOT know how a system got to the current state. Anyone should be able to come in, read `docker-compose.yml`, and work on it.

[2022-03-14 09:36] ndeloof commented on #9172
That's the intent of relying on actual resources, not the compose file you have in hands (which also depends on your environment variables). It' pretty common one run a `docker-compose ..` command and some stuff is left behind because some variable is not set the exact same way it was on `docker-compose up`. Running `docker compose -p NAME xx` allows to only rely on existing resources, so you can

[2022-03-14 09:46] MichaelKim0407 commented on #9172
I'm arguing that it's a bad design choice, because DevOps engineers CAN read but CANNOT remember things. DevOps actions should be explicit and intentional. So docker-compose should just read the content of the compose file when the command is run.

[2022-03-14 09:51] ndeloof commented on #9172
That's true if your intent is to run an explicit shutdown for some resource you manage by code as compose.yaml and assume under control. But on the other hand there's a bunch of users who just can't guarantee the environment used to `compose up` is the exact same as they run `compose down` but still want a full cleanup. Two use-cases here, and we need to cover boths.

[2022-03-14 09:58] MichaelKim0407 commented on #9172
Well, the scenario you're describing doesn't sound to me like how things should be done in production, but if you also want to make it work, I'm fine with that.

[2022-03-14 13:43] henrik242 commented on #745
@glours `project-name` or `name`?  [compose-spec](https://github.com/compose-spec/compose-spec/blob/master/spec.md#name-top-level-element) says *Project name can be set explicitly by top-level name attribute*.

Also, does anyone know which version of `docker-compose` this is coming to?  And what schema version that would be?

[2022-03-14 14:03] ndeloof commented on #745
@henrik242
attribute to set is indeed `name`, see https://github.com/compose-spec/compose-go/blob/master/schema/compose-spec.json#L14-L17
not sure about the minimal required version, but at least v2.3.3 supports this new attribute
You don't need anymore to set a `version: xx` in your compose.yaml file, this il all obsolete with the Compose Specification

[2022-03-14 14:13] henrik242 commented on #745
Thanks!

Ah, I'm on the latest Docker Desktop (4.5.0) and it's on Compose v2.2.3.  Guess I'll have to wait (or install docker-compose separately)

Great to know, thanks again :)

[2022-03-14 15:01] loclahost opened #9282 "docker compose up does not restart running containers"
**Description**
The command 'docker compose up' no longer updates with newer local image. Previously, if you up:ed with a newer image locally docker compose would restart that service with the new image. I now have to 'docker compose down' to bring all services down first, then 'docker compose up' will start with the new image

**Steps to reproduce the issue:**
1. build a new image with the same i

[2022-03-14 15:07] loclahost commented on #9282
Maybe related to #8960?

[2022-03-14 16:21] #9172 closed

[2022-03-14 16:32] JonnyWaffles commented on #7423
Hi friends, we once again encountered this mysterious error even when using `docker compose` instead of `docker-compose`. Random environmental variables vanish.

[2022-03-14 16:33] olemoign commented on #9257
Probably linked to #8940.

[2022-03-14 16:38] scyto opened #9283 "Change in attached console output behavior? (no output in compose plugin?)"
**Description**

**Steps to reproduce the issue:**
1. use the compose provided lower down in this issue
2. try `docker compose up` vs `docker-compose up`
3. see difference

**Describe the results you received:**

![image](https://user-images.githubusercontent.com/11369180/158218302-6352e37e-d1ed-402e-89de-111d72ca9e55.png)

**Describe the results you expected:**
![image](https://user-images.github

[2022-03-14 18:08] JamesTheAwesomeDude opened #9284 "firewalld still isn't supported"
**Description**

Connection refused on inter-container communications whenever firewalld is running.

This occurs despite the fact the fact that the `docker` zone is set to `ACCEPT`, neither does `--add-port=… --zone=docker` fix the issue.

**Steps to reproduce the issue:**

1. Install Docker (20.10.13) and Docker Compose (2.3.3) on a fresh CentOS 8, Fedora 34, or Rocky Linux 8 installation that's

[2022-03-14 18:21] JamesTheAwesomeDude commented on #9284
Given that [firewalld/firewalld#461] was closed and locked (and tagged `3rd-party`), it looks like Red Hat is _quite sure_ that their software isn't the issue. I don't know enough about the situation to comment on that.

[2022-03-14 18:41] YuriyTigiev opened #9285 "How to bind a multiple public ip to docker?"
How to bind a multiple public IP to docker?
For example on the host machine I have three different public ip 45.148.28.67, 45.148.31.170, 45.148.31.172
NodeJs Web App from docker will use these IP addresses for making https requests. The web app supports to send request from different ip  -  `agent: new https.Agent({ localAddress: ip, port: 443, keepAlive: true })`.
Is not clear how to modify exis

[2022-03-14 19:17] larssb commented on #9172
I had the issue with `networks` that was set as `external: true`. Will your fix also apply to that scenario @ndeloof ?

[2022-03-14 19:19] glours commented on #9172
Yes the PR address both volumes and networks

[2022-03-14 21:53] johnnybenson commented on #1640
Looks like --verbose was removed

[code]

[code]

![image](https://user-images.githubusercontent.com/238022/158267494-2644b954-7294-4669-b8fd-4d1a1f81f4c9.png)

[2022-03-14 22:12] csmith commented on #9282
Think this is the same as #9259, which has been fixed but not released

[2022-03-15 05:51] larssb commented on #9172
Fantastic! Thanks.

--
Mvh. / Kind regards
Lars Bengtsson

- Health is wealth, movement is medicine -

[2022-03-15 05:55] loclahost commented on #9282
I agree, this is the same as #9259 . Closing this issue and hoping for a 2.3.4 release soon 🙂

[2022-03-15 05:55] #9282 closed

[2022-03-15 09:20] ani3llyon opened #9286 "Services with profile in yml, always enable when execute command start, stop, restart, up"
Since docker compose v 2.3.0 when ever I run docker compose with command `start`, `stop`, `restart`, and `up` all container for service with profile in docker-compose.yml will be always included even the profile is not enabled.

example command
[code]

example docker-compose.yml
[code]

step by step
[code]

[2022-03-15 10:02] flyingbarbarian commented on #6569
@ndeloof

thank you!!
I can use also ipam config of "ip_range" and "auxx_address" as you say.
I made [pull request](https://github.com/docker/docker.github.io/pull/14391) about compose file reference v3.

[2022-03-15 11:04] victorigualada commented on #9204
I was facing the same problem after a clean reinstall of the OS. The problem was that `docker-compose` wasn't using the last version (1.29) but an old one (1.17) which was causing a lot of errors.

Run `docker-compose version` and check that you have the latest version. If not, just install it: https://docs.docker.com/compose/install/#install-compose

[2022-03-15 11:37] Zesko opened #9287 "Docker-compose v2.3+ stops all containers when pressing Ctrl + c"
**Description**

I noticed the issue after the upgrade of `docker-compose` from v2.2.3 to v2.3.3 or newer:
I want to stop the nignx-proxy container after `docker-compose -f nginx-proxy.yml up`
But pressing CTRL+C stops all containers (when they are in my same sub-network).

[code]

Downgrade to the old version 2.2.3 that does not have this issue.
It stops only nginx_proxy, not all containers, this

[2022-03-15 13:39] khalwat opened #9288 "`tty: true` in docker-compose.yml no longer displays console output"

[2022-03-15 13:48] #9243 closed

[2022-03-15 16:53] tanzislam commented on #9288
This behavior started with Docker Compose v2.3.0. v2.2.3 was fine. I've verified this behavior change in Linux.

[2022-03-15 18:17] Seacant opened #9289 "v2.3.3 Docker Compose run is Starting Itself Alongside Dependencies"
**Description**

We have a decently sophisticated web stack running in Docker Compose with `depends_on` relationships. After the recent upgrade to 2.3.3, we started getting errors when running the following command (simplified for this post) to restart part of the stack in interactive debug mode. `docker compose down web && docker compose run --service-ports web`. It seems that when Docker Compose

[2022-03-15 18:42] TrentonAdams commented on #9232
@ndeloof So my impression is that this is being considered an issue to fix then yes?

[2022-03-15 20:28] patientplatypus6 opened #9290 "Potential Security Hole - Docker Compose NGINX"
Non-issue

[2022-03-15 20:29] patientplatypus6 commented on #9290
Also shutting down docker and `docker system prune -a -f --volumes` and then rerunning doesn't fix the issue.

[2022-03-15 21:04] patientplatypus6 commented on #9290
I've tried to replicate the bug the best way that I know how, but I haven't managed. What I did was to run

[code]

on one tab and on another tab I ran (because I was modifying an NGINX file

`sudo docker compose up --detach --build nginx
`

My best guess is that there is a vulnerability that is open on the system when the docker compose is up and running and a background process is used to rebuil

[2022-03-15 21:21] patientplatypus6 commented on #9290
Thanks for the help - non-issue.

[2022-03-15 21:21] #9290 closed

[2022-03-15 21:32] TrentonAdams commented on #9232
@ndeloof Yep, understood.  I can visualize how it might be difficult.  Perhaps some sort of centralized cache/query code that determines if something needs building before hand?  That's a wild ass guess, I have never looked at the code, lol.

[2022-03-16 04:46] bscottm commented on #4958
Alternatively, you can `docker network create` an external network and reference it in the `docker-compose.yml` networks section as `external`. It just isn't as automagic with docker-compose 2 files. It does work and you don't have to disable the entirety of IPv6 support.

[2022-03-16 05:05] JimDabell commented on #9286
I’m experiencing this too. It started happening immediately after upgrading to Docker for Mac 3.6.0 which brought with it the new version of Compose.

**Output of `docker compose version`:**

[code]

**Output of `docker info`:**

[code]

The `docker info` output doesn’t seem to be correct – it says I’ve got 40 running containers. I have four running containers and one stopped container, confirmed

[2022-03-16 09:01] MattKobayashi opened #9291 "`docker compose up -d` doesn't re-create containers with updated images"
**Description**

When run after `docker compose pull` and new images are pulled, `docker compose up -d` does not re-create containers that use those images.

**Steps to reproduce the issue:**
1. Run `docker compose pull` to retrieve updated images.
2. Run `docker compose up -d` to re-create running containers with the new images.
3. The command runs, but containers are not re-created as expected.

[2022-03-16 10:45] MCEmperor commented on #3109
Well, it appears that the text 2222:22 is interpreted as something what I would call a *local time*, which is in fact a base 60 value. 2222×60+22=133342. I tried to look it up in the YAML specification, and it [is found here](https://yaml.org/type/float.html).

[2022-03-16 10:54] Dhyanesh97 commented on #7791
Encountered same issue with below file.

[code]

[2022-03-16 12:44] nocive commented on #9291
AFAIK has been fixed in https://github.com/docker/compose/commit/85a4d04096d130fb88d4344ffd95fdfb25cbcdc1 but there's no released version with the patch yet.

[2022-03-16 16:37] thomasbley commented on #9104
I'm also here because my Bitbucket Pipelines tests, which do basically

`docker compose run ...`

suddenly stopped printing any output when I upgraded the build environment to Docker Compose 2.3.3.

Docker Compose 2.2.2 does not have this issue with Bitbucket Pipelines.
Docker Compose 2.2.3 does have this issue with Bitbucket Pipelines.

[2022-03-16 19:30] DesignByOnyx commented on #6736
+1 - I have more use cases if anybody needs them

I'd  like to suggest that all hooks are scoped under a "hooks" key which can be global, per-profile, and per-service:

[code]

I'd also like to suggest better semantics as `pre-up` and `post-up` are a bit ambiguous (eg. I'd expect `post-up` to happen when the container is no longer up - I point to `package.json` script semantics for this confusion)

[2022-03-17 01:16] shadowspawn opened #9294 "docker-compose v2 not working with multiple configuration files"
**Description**

I upgraded from Mac Docker Desktop 4.5.0 to 4.6.0 and some  of my docker workflows broke. In a situation with services split across two configuration files and services in the second depending on services in the first, I now getting an error saying `no such service: some-service-in-first`.

**Steps to reproduce the issue:**
1. Setup with multiple configurations files. Some service

[2022-03-17 11:13] NonlinearNimesh opened #9295 "QUERY : Is there any way of restarting docker automatically"
Hi, I have a problem of "skipped: maximum number of running instances reached (1) in the apscheduler" and because of this the process got stuck and to restart the process I need to restart the docker, so I was looking for a way to restart the docker automatically after every 24hrs thinking until I resolved the above mentioned issue.

So, is there a way i can restart the docker automatically after

[2022-03-18 08:04] SeifMostafa commented on #8636
Hello,
Could I pickup this? Any tips to start with?
-- start reading https://github.com/docker/compose/blob/v2/cmd/compose/logs.go & try to figure out about new log options to insert.

[2022-03-18 09:52] Dzoge commented on #3909
You can disable logging on the container you don't want to see the logs for using:
[code]
and then start it up using
[code]

[2022-03-18 10:25] ebram96 commented on #3927
That's sad.. Restarting docker solves it.. But, restarting docker every few some minutes is a pain.

[2022-03-18 10:37] ndeloof commented on #3909
@Dzoge this hack won't work with Compose v2, which attach to containers (like `docker run` does) and does not rely on engine to collect logs

[2022-03-18 10:53] ulwlu commented on #9181
Hi I really want to have this option.

[code]

How about this format. The advantage of this is capable of many env_files while some is not required and others are required. It happens many times when you have Unit Test CI while you also have E2E Test CI.

If maintainer agrees with it I could create PR.

[2022-03-18 11:21] ndeloof commented on #9181
This should first be debated on compose-specification

[2022-03-18 13:04] aurelijusrozenas commented on #7326
So, couple of years later, the problem is still big pain when setuping dev projects. `.env` is usually committed to repository with global settings and there is `.env.local` file to override something if there is a need for that. With docker-compose it is not possible to pass both files so you need to write some kind of hacky script to _maybe_ make it work. I cannot think of any other way.

[2022-03-18 14:24] Herr-Sepp commented on #9185
I tried it again with the current version and it still occurs with 2.3.3.
Same behavior as described above

Workaround is not to use the -Host-option but to pass the compose command with SSH
Before that the Compose file must be transferred to the VM and Compose must be present there.

[2022-03-19 05:55] brendanbeck commented on #8530
At this moment, it seems like there is no automatic workaround for this. By default, newer versions of Docker will map a service to all ports specified in a range. This, of course, results in port clashing as the expected behavior is to assign each replica of a service its own unique port from a specified range.

A manual workaround is to create a set of services (that would otherwise be your repl

[2022-03-19 21:06] keunes commented on #8630
@ndeloof @jamshid Sorry to bug you - I am trying to install docker compose V2 on Raspberry Pi OS, and I am experiencing the same issue: I get `docker: 'compose' is not a docker command.` despite following [the steps in the docs](https://docs.docker.com/compose/cli-command/#install-on-linux).

From the OP's reaction it seems a solution is suggested above, but it's too cryptic for me to understand :

[2022-03-19 21:17] nroi commented on #9288
I can also confirm this issue on Linux. I ran git bisect, and it seems to be introduced by 65ed8cf4c29925c387d51906ebd260627d3bd20b.

[2022-03-19 21:54] Dav3whit3 commented on #4837
@brean Thank you very much my man...I can stop headbutting my keyboard now. :3

[2022-03-20 01:43] DHentzschel commented on #2724
The same error appears to me in Docker Compose version v2.3.3 with Docker version 20.10.13, build a224086

[2022-03-20 01:57] ulwlu commented on #9181
@ndeloof

yes, i saw you said that in previous comment as well, but no issue is submitted in compose-specification yet. so i wondered if there is still a problem.

you said 'this should be debated in compose-specification' but does it mean 'please post a issue in compose-specification' or 'please wait' ?

i'm just confused.

[2022-03-20 04:40] nathan-osman commented on #8630
@keunes

The instructions on the website assume installation on an x86_64 platform. Your Raspberry Pi will instead require an armhf / aarch64 binary. You'll need to run these commands instead:

1. ```bash
   DOCKER_CONFIG=${DOCKER_CONFIG:-$HOME/.docker}
   mkdir -p $DOCKER_CONFIG/cli-plugins
[code]

   **For Raspberry Pi 3 or 4 _running a 64-bit (aarch64) operating system_:**

[code]

3. ```bash

[2022-03-20 07:16] ndeloof commented on #9181
@ulwlu compose spec is public, anyone can open a proposal. If you feel this is un important topic, you're welcome to do

[2022-03-20 09:44] pvklink commented on #8139
Latest version 2..3.3 still got this problem...

[2022-03-20 13:34] DJviolin commented on #9166
If `env_file` in `docker-compose.override.yml` added as an empty array:

[code]

Then why on earth it's not rewriting the array from the original compose file? I understand why the newly added `env_file` fields appended to the array, but you should give an option to make the entire array empty.

[2022-03-20 13:40] DJviolin commented on #9166
I should note that, if `env_file: .env` in the base compose config is a non-existing file, this halts the configuration merging process with `docker-compose.override.yml`. This is my use case.

[2022-03-20 14:01] keunes commented on #8630
Thank you so much @nathan-osman, that worked :)
So it seems that just the URL to the artifact in the docs is 'wrong' (for a specific architecture). The instructions for V1 contain `$(uname -m)` in the download URL, which automatically injects the right architecture in the URL. I'll make a PR to update the V2 link with that as well.

[2022-03-20 15:10] nathan-osman commented on #8630
Keep in mind that for Ubuntu on a Raspberry Pi 2, at least, `$(uname -m)` will return `armv7l` instead of `armv7`.

[2022-03-20 15:39] AniketKariya commented on #4253
any update on this?

[2022-03-20 16:26] keunes commented on #8630
Note to self and others: if when trying to run docker compose you get an error like below, then set your system to [[Manage Docker as a non-root user](https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user)](https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user). After that I didn't have the error any-more.
[code]

[2022-03-20 17:03] thespad opened #9297 "Compose v2 stops services using `depends_on` in the wrong order"
**Description**

When issuing a `docker compose up -d` to running services using `depends_on`, service(s) that are depended on are stopped before the service(s) that depend on them.

**Steps to reproduce the issue:**
[code]
1. Have a docker-compose.yml with multiple services using `depends_on` (such as above example)
2. Change configuration or update images for any of the definied services and iss

[2022-03-21 03:59] ZimbiX commented on #9143
Still present at the latest commit

[code]

[2022-03-21 10:26] antonagestam commented on #4693
Just chiming in with some perspective here. I think the version 2 is not only usable for dev environments, but anytime you want to run Docker containers in a "single-host" mode. As a DBA I've used docker-compose to setup monitoring services on database hosts, in which case it makes no sense to use Swarm features.

Is there any concrete reason why this issue isn't being addressed? It seems like it

[2022-03-21 10:36] mrAndersen opened #9300 "Compose v3: Make ability to specify source for ENV variables inside docker-compose file"
For example i have the following service
[code]

I want ```VARIABLE_NOT_FROM_ENV``` being resolved not from .env file and ALSO i don't want to write all the time --env-file argument running compose up command, so i assume you guys should make this as a config inside docker-compose.yaml itself

[2022-03-21 11:41] gabrieldemarmiesse commented on #8537
While I believe that it's good that the error message is pointing the error in the right direction, having a go stacktrace may not help users understand that the problem is caused by them. Go panics don't seem appropriate for users.

Would it be possible to handle this error gracefully and give a simple, clean error message with steps to fix the issue?

[2022-03-21 17:22] mshappe opened #9301 "Docker Compose 2.3.3 does not start subsidiary services called out in `links`"
**Description**

`docker-compose` v2.3.3 appears not to fully implement the dependency-starting behaviour of `links`.

[code]

will **create** `bar` but not start it.

[code]

will ensure `bar gets started, but should be superfluous--`links` is explicitly documented to imply `depends_on`.

**Steps to reproduce the issue:**

See snippets above -- create a `docker-compose.yml` that uses `links` and

[2022-03-21 18:13] alexandernst commented on #9267
Maybe caused by https://github.com/docker/compose/commit/65ed8cf4c29925c387d51906ebd260627d3bd20b ?

[2022-03-21 18:20] brandon-leapyear commented on #9267
Yes, that seems correct. I'm not sure that commit is the correct solution.
Our usecase is that we want to put the docker-compose.yml files in a
subdirectory, so we can `extend` them with each other and keep them all in
the same place, which doesnt seem like an uncommon usecase.

A more canonical solution (used by tools like git or tar) would be to have
a -C flag to set the cwd

On Mon, Mar 21, 202

[2022-03-21 20:42] jasonccox opened #9302 "`--no-deps` flag causes `no such service: <dependency>` error after upgrade to compose v2.3"
**Description**

`docker compose up --no-deps <service>` fails with `no such service: <dependency>`

**Steps to reproduce the issue:**
1. Create a compose file with the following contents:
[code]
2. Run `docker compose down && docker compose up --no-deps main`

**Describe the results you received:**

Command fails with `no such service: dep`.

**Describe the results you expected:**

Command succee

[2022-03-21 20:44] jasonccox commented on #9302
This appears to not be an issue if the compose file uses `version: '3'`

[2022-03-21 21:03] adegoodyer commented on #8530
Unfortunately still occurring on Docker Compose version v2.2.3

[2022-03-22 01:00] aminvakil commented on #8940
I have faced this in https://github.com/getsentry/self-hosted/pull/1393 too.

1.28.0: https://github.com/getsentry/self-hosted/runs/5633041888?check_suite_focus=true#step:4:1936
1.29.2: https://github.com/getsentry/self-hosted/runs/5633041941?check_suite_focus=true#step:4:1928
2.2.3: https://github.com/getsentry/self-hosted/runs/5633042067?check_suite_focus=true#step:4:1946

FYI it worked on 2.0.1

[2022-03-22 09:51] timohuovinen commented on #8862
Same problem here, using a legacy beast that can't be changed.

[2022-03-22 09:53] lorthirk commented on #9286
Just noticed this as well

[2022-03-22 09:58] florianlink opened #9303 "docker-compose V2 does not support default variable values in .env files anymore"
We use docker-compose with .env files.
In the .env files, we use this syntax:

VARIABLE=${VARIABLE:-default}

which evaluates to default if VARIABLE is unset or empty in the environment in docker-compose V1.
(as described here https://docs.docker.com/compose/environment-variables/)

With V2, the VARIABLE is not set to default with this syntax.
We tested this on Windows and Linux, with Docker Compo

[2022-03-22 10:31] krissetto commented on #9286
I have also noticed this issue on MacOS using the latest version of Docker Desktop. This is quite a deal breaker, as it renders the profiles feature unusable in most of my development scenarios

[code]

[2022-03-22 10:40] lorthirk commented on #9286
Yeah, I forgot, I'm on macOS as well:
[code]

[2022-03-22 11:53] Anexen commented on #9283
Probably related to https://github.com/docker/compose/issues/9288

[2022-03-22 14:09] glenpike commented on #9288
This is a frustrating fix.  We use tty: true so we can attach to containers for interactive debugging, e.g. byebug in Ruby, but most of the time we also want to see container output without having to run a separate terminal window to follow the logs...

[2022-03-22 14:42] Neudrino opened #9304 "Build failure with docker-compose v2.3.3"
**Description**

After an upgrade to docker-compose v2.3.3 from v2.2.3 the previous working build fails for the [Magma](https://github.com/magma/magma) project.

**Steps to reproduce the issue:**
1. `git clone https://github.com/magma/magma.git`
1. `cd magma/orc8r/cloud/docker`
1. `./build.py --all`

**Describe the results you received:**
[code]

**Describe the results you expected:**
In short, a

[2022-03-22 15:23] sophos-rickc commented on #8940
I am experiencing this in Docker Compose 2.3.3

[2022-03-22 18:20] melkishengue commented on #8578
+1 for this feature request. I would love to be able to do this directly from the compose file.

[2022-03-22 23:59] scyto commented on #9283
aye removing tty:true fixed my symptoms, closing this issue as #9288 better documents the change in behaviour.

[2022-03-22 23:59] #9283 closed

[2022-03-23 03:04] Andrei-NZ commented on #7346
If this helps, I worked around the issue by redirecting stderr to stdout in Azure pipelines

`sudo docker-compose pull "app" 2>&1`

<img width="559" alt="image" src="https://user-images.githubusercontent.com/43405089/159615778-c1567467-d128-46b5-8c6f-bd94b9b80a98.png">

[2022-03-23 08:09] flipkickmedia commented on #8530
I'm seeing this issue also. If you run the `docker compose up` several times (one for each replica) you can eventually get the system running with the replicas and port mappings.

Currently having to remove the replica config an repeat the container instance config for each replica I need.

This issue needs looking at...its been open for a very long time with a significant bug in the use of docker

[2022-03-23 09:22] animalillo opened #9305 "Encrypted home volume not accessible."
**Description**

When setting up a docker-compose.yml with a service configured with `restart: always` and a mount relative to the home directory of an user encrypted home. It fails to list the files after said user has logged in and the encrypted files become accessible on the system.

**Steps to reproduce the issue:**
1. Set up an user with an encrypted home and docker access on a linux machine

[2022-03-23 09:25] jsoriano opened #9306 "v2.3.3 config yaml contains ports as strings"
**Description**

`docker-compose config` formats the `published` port as a string, this can be a problem when parsing this output.

In [documentation](https://docs.docker.com/compose/cli-command-compatibility/) ports appear as numbers.

**Steps to reproduce the issue:**
1. Define a project with exposed ports.
2. Run `docker-compose config`.
3. `published` port is a string, while `target` port is a

[2022-03-23 09:30] yoshiya0503 commented on #9288
hey guys, there are unwilling workaround...

[code]

we can see logs (colorlized) same as before.

(BE CAREFUL TO CONFLICT CONTAINER PORT LIKE MYSQL, REDIS)

[2022-03-23 10:47] fl0ppy-d1sk commented on #8469
Hello, any news on this ?

[2022-03-24 00:17] stefanadelbert opened #9308 "`docker compose up --build` not recreating container"
# Description

When making changes to something that affects an image that a service uses, running `docker compose up --build` should rebuild that image and then recreate the corresponding service's container so that it uses the new image.

See https://docs.docker.com/compose/reference/up/.

I've noticed recently that this is no longer the case, i.e. if I make a change to a dependency of an image,

[2022-03-24 07:23] stefanpl commented on #2067
@PeterTucker did you check @CharlesB2 's answer?

It explained in a little more detail [here on SO](https://stackoverflow.com/a/63380716/2072165) (disclaimer: I wrote that answer). Seems to be the culprit for some people facing this problem.

[2022-03-24 10:18] ulyssessouza commented on #9303
What happens when you execute a command?
Could you please post a complete example for reproducibility?

[2022-03-24 11:14] sajalmia381 commented on #8445
SOLVED: my ubuntu arm base machine problem solved

[2022-03-24 17:02] jensneuhaus commented on #9308
I can confirm this problem as I have the same issue and I could also reproduce it with the given minimal example!

It worked fine before and stopped working probably after a `brew update` yesterday.

### My output from `docker info`

[code]

[2022-03-24 23:35] dossy opened #9312 "`Ctrl-C` no longer terminates `docker compose logs -f` after a `Ctrl-Z` is sent"
**Description**

After sending `docker compose logs -f` a `Ctrl-Z` to try and suspend the process, the process is no longer cancelable using `Ctrl-C`, and can only be terminated by sending a `SIGKILL` (signal 9) signal, as `SIGTERM` (signal 15) nor `SIGQUIT` (signal 3) cause the process to terminate either.

**Steps to reproduce the issue:**
1. `docker compose logs -f`
2. Press `Ctrl-Z`
3. Press `

[2022-03-25 06:50] kostadinnm commented on #8698
I can confirm that I'm missing shell completion as well. Running Docker Compose version 2.3.3 on Manjaro latest.

[2022-03-25 09:01] chrkr opened #9313 "Critical regression: compose 2.3.0 and up removes external volumes with down -v, leading to data loss"
**Description**

From compose 2.3.0 onwards, `docker compose down -v` _also_ removes volumes configured as `external: true`!

This only seems to happen when `docker compose down -v` is called with no explicit project name.
In case `docker compose -p <project_name> down -v` is called, the external volume is _not_ deleted, regardless of whether `docker compose` was called in the directory where the

[2022-03-25 10:08] glours commented on #9313
This was fixed in #9281

[2022-03-25 10:08] #9313 closed

[2022-03-25 10:34] glours commented on #9291
We just released `v2.3.4` can you check the issue is fixed?

[2022-03-25 10:36] glours commented on #9272
@rfay that's to be backward compatible with the python version
https://github.com/docker/compose/pull/9096

[2022-03-25 11:03] neoKushan commented on #9291
I've just tested v2.3.4 and this seems to be fixed now 👍

[2022-03-25 11:33] mdantonio opened #9314 "docker compose run --rm no longer working on 2.3.x"
**Description**

The `--rm` flag of `docker compose run` is not working with version 2.3.x
The container is created but then it remains in exit status. Up to v2.2.3 it was correctly removed

**Steps to reproduce the issue:**
1. docker-compose.yml
[code]
2. `docker compose run --rm --name mytest alpine hostname`

**Describe the results you received:**

The container remains in exit status

[code]

[2022-03-25 11:43] glours commented on #9308
We just released the `v2.3.4` version which should fix this issue, can you test it and close this ticket if it's ok for you please?

[2022-03-25 14:19] Beanow commented on #7857
(TL;DR, this is still an issue)

Ah yes. Frustrated with Swarm's missing features I gave compose another try. Not realizing compose's secrets are 'just bind volumes' and I would now have to Ansible over unencrypted secret/config files and come up with permission schemes.

In my case, coming from Swarm I was fully expecting:
[code]

To submit the local file's contents over the Docker API, but inste

[2022-03-25 14:32] MattKobayashi commented on #9291
Can confirm, this is fixed. Thanks team!

[2022-03-25 14:32] #9291 closed

[2022-03-25 15:25] rfay opened #9315 "terminal handling on exec is completely unusable in 2.3.4"
**Description**

In 2.3.4, you can't `docker-compose exec -it` into a container... your terminal gets captured and you can't do anything.

**Steps to reproduce the issue:**

1. Use this docker-compose.yaml:
[code]
2. `docker-compose up -d`
3. `docker-compose exec -it deb bash`

You'll get the initial prompt, but you can't interact with bash at all. It hangs. And you have to kill the terminal emula

[2022-03-25 17:05] krissetto opened #9316 "COMPOSE_PROJECT_NAME causing "no configuration file provided: not found" in logs command"
**Description**

The `docker compose logs` command (and maybe others) is ignoring the `COMPOSE_PROJECT_NAME` env variable and throwing `no configuration file  provided: not found` instead of proceeding with the command since it has the project name.

Placing any valid `docker-compose.yaml` file in the working directory where the command is launched makes the command work as normal, even if the com

[2022-03-25 19:33] 1ace commented on #9315
Came here to report the same issue :slightly_frowning_face:

And I agree, 2.3.x has seen many major regressions like this one; perhaps something should to be done for QA (both CI and human) to address this :slightly_smiling_face:

[2022-03-25 20:47] aviau commented on #9288
On my end it seems that it causes more than just missing logs. I am building something with webpack in tty mode (so that I have colored logs) and it seems that webpack hangs when the build is completed and never starts the dev server.

[2022-03-25 20:49] MadLittleMods commented on #9215
Looks like a duplicate of https://github.com/docker/compose/issues/8566 except when doing `docker-compose up`

[2022-03-25 20:57] matiux commented on #9315
Same issue
Back to version 2.3.3 on Linux arch

[2022-03-26 13:23] synek317 commented on #7025
Is there any workaround? I hit the wall at the very beginning of my journey with docker. I struggle with how are people even able to use docker-compose without this feature...

[2022-03-26 13:28] thomsentner commented on #7025
Honestly, for me the only option was to write a bash script around a `docker run` command.

[2022-03-26 13:33] caseysparkz commented on #7025
You can also pass your keys into an intermediate container via an
environment variable.

On Sat, Mar 26, 2022 at 06:28 Thom Sentner ***@***.***> wrote:

--
With regards,

PGP: 0x3260255327CBCDA1

[2022-03-27 09:10] aminvakil commented on #8940
It seems that it has been fixed in 2.3.4 (https://github.com/getsentry/self-hosted/runs/5708677698?check_suite_focus=true#step:4:2177).

[2022-03-28 07:29] kangaechu opened #9319 "V2: Remove anonymous volumes when using run --rm"
**Description**

Running one-off commands with docker-compose does not delete volumes used by the container. This is different behavior from `docker run --rm` or docker-compose v1, which removes volumes after the container is deleted.

https://github.com/docker/compose/issues/3611 fixes same issue on docker-compose v1.

**Steps to reproduce the issue:**
1. prepare docker-compose.yml as follows:

[

[2022-03-28 08:20] florianlink commented on #9303
[compose.zip](https://github.com/docker/compose/files/8360928/compose.zip)

[2022-03-28 08:23] florianlink commented on #9303
I attached an example. Just run "docker-compose up" and it prints the following with docker-compose V1:

[code]
Now when running it with **docker-compose V2**:

[code]
**NOTE**: the different between V1 and V2 is the printed warning and the missing **my-default-value** value of EXAMPLE_BAD env variable.

[2022-03-28 09:28] suchmaske commented on #9315
Same happened to me on arch. I had to roll it back to v `2.3.3`

[code]

[2022-03-28 10:45] suyar commented on #9060
No solution yet?

[2022-03-28 12:48] ondrej-ivanko commented on #9315
I can confirm this issue. I have to stick running v2.3.3.

Docker
[code]

OS:
[code]

[2022-03-28 18:09] firehydrant-ops commented on #9193
I'm having the same issue -- everything appears to run fine, but the file is not available for the build.  I'm on MacOS 12.3.  While [the docs make this appear supported](https://docs.docker.com/compose/compose-file/compose-file-v3/#secrets), these other issues make me think this isn't supported yet: #6358, #7046

[2022-03-28 18:10] bmorton commented on #9193
I'm having the same issue -- everything appears to run fine, but the file is not available for the build. I'm on MacOS 12.3. While [the docs make this appear supported](https://docs.docker.com/compose/compose-file/compose-file-v3/#secrets), these other issues make me think this isn't supported yet: #6358, #7046.

[2022-03-28 20:54] denmaddog commented on #9315
I have the same issue.

Docker version 20.10.10, build b485636

OS:
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian

Had to revert to Docker Compose version v2.2.3.

[2022-03-29 03:13] stefanadelbert commented on #9308
I can confirm that the v2.3.4 fixes the behaviour.

[2022-03-29 03:13] #9308 closed

[2022-03-29 07:14] themataleao commented on #4799
Define in your docker-compose the correct CMD for uvicorn:

`
[code]
and in your docker-compose fit it to the correct port:

[code]

[2022-03-29 07:44] fho commented on #8566
I can not reproduce the issue  with docker compose v2.3.3 or v2.3.4, the provided docker-compose.yml and by running `docker compose up -d --no-recreate`.

We did run with v2.3.3 into an issue that looks the same from the stacktrace, we can not reproduce it yet.
[code]

[2022-03-29 08:40] lbenard commented on #9315
Just tested building several commits, it seems to happen since 1d4b4e3c8ebd60c2d3f71cb8f26801fee43b8b3f

[2022-03-29 08:54] glours commented on #9315
Can you build a local version of Compose from the `v2` branch and let us know if you can reproduce this behavior which should have been fixed with this [PR](https://github.com/docker/compose/pull/9318)

[2022-03-29 09:17] lbenard commented on #9315
Oh sorry didn't see you already fixed it, it does indeed work with your changes

[2022-03-29 09:18] #9132 closed

[2022-03-29 09:30] suchmaske commented on #9315
I just tested the most recent version `Docker Compose version v2.3.4-5-ga73a2c92`. It worked for me.

[2022-03-29 10:59] 1ace commented on #9315
I tested with [`v2.3.4`](https://github.com/docker/compose/releases/tag/v2.3.4) + #9318 and the bug is fixed; thanks @glours for the quick fix!

[2022-03-29 11:08] designermonkey commented on #9306
This has broken our build system. We run:

[code]

Our docker desktop version:
[code]

[2022-03-29 13:52] EvgenijHenning opened #9321 "docker-compose not reading the .env file properly with --env-file"
**Description**

I'm facing an issue and I think there is some strange behaviour in the docker-compose up command.

My project structure is (stripped down to the minumum):

C:\USERS\...\PROJECTS\TEST-PRJ\
  .env.dev
  app.js
  docker-compose.yml
  Dockerfile
  package.json

I've created a repo for the structure/project above (https://github.com/EvgenijHenning/docker-compose-bug-desktop-4-6-1)

Run

[2022-03-29 20:18] StepanGavrilov commented on #6268
Saved my life, thanks bro!

[2022-03-29 20:21] XaviTorello commented on #1203
+1!

[2022-03-29 20:28] jasonkarns opened #9322 "volumes.external and driver_opts are reported as conflicting, contrary to documentation"
**Description**

I'm trying to specify an external bind-mount volume as a named volume (such that the same volume can be used by multiple services).

The bug I'm experiencing seems to be a contradiction in the documentation.

**Steps to reproduce the issue:**

1. Given:
[code]
2. When: `docker compose up -- dev-webserver`
3. Then I get:

**Describe the results you received:**

**Describe the resul

[2022-03-29 21:56] MadLittleMods commented on #8566
Updated to Docker desktop 4.6.1 (Compose v2.3.3) on macOS 12.3 and seems to be working now 👍

[2022-03-29 21:56] #8566 closed

[2022-03-30 00:28] lobabob opened #9323 "COMPOSE_IGNORE_ORPHANS doesn't work for docker-compose run"
# Description

The `COMPOSE_IGNORE_ORPHANS` env var works for `docker-compose up` but not for `docker-compose run`

Orphan warning is shown:

[code]

I've run this with `COMPOSE_IGNORE_ORPHANS` set to `true` and `True` as well, both failed.

Also fails when set through env var:

[code]

# Context information (for bug reports)

[code]

[code]

[code]

<img width="465" alt="image" src="https://user-

[2022-03-30 05:36] ndeloof commented on #8538
Still on it

[2022-03-30 05:37] ndeloof commented on #7078
Implemented for run and exec

[2022-03-30 05:37] #7078 closed

[2022-03-30 05:45] nguyenhoai890 commented on #7423
I  got this issue too:
`docker version`

The error message I got:

docker-compose.yaml:

[2022-03-30 06:03] 29axe commented on #2294
Up

[2022-03-30 06:08] lingmann commented on #8720
Hmmm... stale bot, there are at least 5 +1's to this issue and it's easily reproducible. :-/

[2022-03-30 06:08] drauch commented on #8233
This is still a problem, don't mark issues as stale just because you don't react to them...

[2022-03-30 06:32] ndeloof commented on #9232
duplicates https://github.com/docker/compose/issues/8538

[2022-03-30 07:11] ndeloof commented on #8460
This is exactly what Compose v2 is about :D

[2022-03-30 07:11] #8460 closed

[2022-03-30 07:15] ndeloof commented on #8456
With latest docker compose v2 you can use :
`docker compose config --format json | jq '.name'`

We could extend format to support go template (like a few docker command do) so one can run
`docker compose config --format '{{.name}}'`
or maybe even introduce a dedicated flag for this purpose
`docker compose config --name`

[2022-03-30 07:17] ndeloof commented on #8408
There's no reason this isn't supported, just nobody did so far :D
Please open an issue on https://github.com/compose-spec/compose-spec so this is added to the compose format

[2022-03-30 07:18] ndeloof commented on #8403
This seems to be basically what Profiles have been designed for

[2022-03-30 07:22] ndeloof commented on #8324
Unfortunately `VolumeCreate` API doesn't have this feature, so we would need to create a temporary container for this purpose which would be hack-ish. Preferred approach is for you to declare an init-container, and have your actual service to `depend_on` this init container with condition `service_completed`

[2022-03-30 10:49] fabien-michel opened #9326 "tty autodetection bug with ipython"
**Description**

Since recent docker compose (maybe 2.3.4) `docker compose exec` try to autodetect a tty and this make ipython to not work anymore. Maybe it can broke some other execuables.
This is a regression since this was working until recent changes.

**Steps to reproduce the issue:**

**docker-compose.yml**

[code]

**Dockerfile**

[code]

2. docker compose build
3. docker compose up -d
4. d

[2022-03-30 11:55] fabien-michel commented on #9326
Didn't see the issue was already reported. Sorry for the noise.

[2022-03-30 11:55] #9326 closed

[2022-03-30 13:16] milas commented on #8605
I can confirm this is still the case as of v2.3.3

[2022-03-30 13:33] joaquinferroni commented on #7146
Hi guys, I had the same issue and I add two main things into my project configuration:
in appsettings.json, add a new key for Kestrel:
"Kestrel": {
    "Endpoints": {
      "Http": {
        "Url": "http://+:5000"
      },
      "HttpsInlineCertAndKeyFile": {
        "Url": "https://+:8443",
        "Certificate": {
          "Path": "path to your .crt",
          "KeyPath": "path to your.key"

[2022-03-30 13:45] page-down commented on #8713
I can confirm that this issue still exists in docker compose v2.3.4.

[code]

[code]

[code]

[code]

The `debug` profile is not used.

[2022-03-30 14:32] ceelian opened #9327 "Environment variables from env_file containing a "#" are truncated in V2"
**Description**

Environment variables which contain "#" in the value are truncated starting from the "#" when using the env_file.
For example the line `TEST_VAR=abc#def` in an env_file will lead to  `TEST_VAR=abc` in the container instead of `TEST_VAR=abc#def`

Regarding the [official docs](https://docs.docker.com/compose/compose-file/compose-file-v3/#env_file)

only lines **beginning** with an "

[2022-03-30 14:54] Silex commented on #9268
Same problem, also #7257 was the same issue.

[2022-03-30 15:22] jcalfee commented on #5416
How about an option to `--keep-networks` .. The default makes since for non-swarms at least.  But due to my network configuration (VPN) I would like to keep the networks when I'm doing simple upgrades and full restarts.

[2022-03-30 17:58] vivekvedant commented on #9139
### Description:
Unable to added external secrets using docker-compose

### Output of error
![image](https://user-images.githubusercontent.com/38762444/160899092-3d5ea291-7823-48c0-9b36-ecb965a96711.png)

##Output of secrets in docker
![image](https://user-images.githubusercontent.com/38762444/160899649-18349b36-6898-452c-8dd0-5404668319b2.png)

### container containing secrets
[code]

[2022-03-30 19:31] iamnande opened #9328 "Newly Built Container Ignored"
**Description**

When I use the `--build` flag, the newly built container can be seen in the docker dashboard and images list on the CLI but is not being utilized when I run `docker compose up --build --detach`.

Previously this worked. There could have been a bug that allowed it to work that was fixed, or this is a new bug.

FWIW there is a work around to kick a specific service using the `--forc

[2022-03-30 21:58] jon4hz commented on #9284
I just tested your setup on a fairly new ubuntu 20.04 system and unfortunately I can't reproduce this error.
I'm getting a `db:5432 - accepting connections`.

What I first noticed is that your docker zone doesn't have any interfaces which seems weird to me. Whenever I run a `docker-compose up` it automatically adds the newly created bridges to the zones interface.

What happens if you add the brid

[2022-03-30 22:22] fuji246 commented on #3633
Thanks, I restart everything, the previous error is gone, now another error:

[code]

[2022-03-31 02:51] boomshadow commented on #7493
Bump! (I didn't want this issue to get auto-closed). This feature would be extremely helpful due to the fact that our dockerized app requires knowing the domain, _and_ it uses sub-domain based multi-tenant routing. Our work around was to put all the common URL's in the network aliases. It works but its not ideal because we have many dozens of subdomains we'd like to actually include.

Example of w

[2022-03-31 04:22] hammy-lite commented on #2294
No reasonable solution has been proposed yet so this is still an issue.

[2022-03-31 07:49] qnap-ericfan opened #9330 "Support IPAM options"
**Description**

Here is my docker-compose.yaml
[code]
I execute command "docker-compose up", then inspect the network created by compose.
[code]
I found that IPAM.Options is null even if I setup value already.

**Describe the results you received:**
IPAM.Options is null.

**Describe the results you expected:**
IPAM.Options is {"opt2": "opt2"}.

**Output of `docker compose version`:**
Docker Compo

[2022-03-31 09:01] EHJ-52n commented on #8266
Any update on this?

[2022-03-31 09:56] glours commented on #7025
[A PR is ready to review](https://github.com/docker/compose/pull/9325), you can test it and give us your feedback

[2022-03-31 10:37] animalillo commented on #9305
Tried with `docker-compose version 1.29.2, build 5becea4c` but the problem is still happening

[2022-03-31 10:47] #7025 closed

[2022-03-31 11:29] johnthagen commented on #8575
I see that now both Ubuntu and CentOS have `docker-compose-plugin-2.3.3` `.deb`'s and `.rpm`'s respectively.

- https://download.docker.com/linux/ubuntu/dists/focal/pool/stable/amd64/
- https://download.docker.com/linux/centos/8/x86_64/stable/Packages/

Curious if Compose V2 is at or near GA now? Should/will the docs be updated to make these the official way to install Compose V2 on Linux?

[2022-03-31 11:30] johnthagen commented on #8575
Also, related:
- #8871

[2022-03-31 11:34] ndeloof commented on #8575
docs will be updated soon then G.A can be announced

[2022-03-31 13:40] bruderstein opened #9333 "2.3.4 returns error exit code for `docker compose down` with nothing started"
Starting in docker compose 2.3.4, doing a `docker compose down` with nothing previously started, now returns a non-zero return code - it was previously just a warning.

**Steps to reproduce the issue:**
1. Create a docker-compose.yml e.g.
[code]
2. `docker compose down -v`
3. Observe the 1 status code - e.g. `echo $?`

**Describe the results you received:**
Returns 1 process exit code.

**Describe

[2022-03-31 13:55] Faboslav commented on #8922
Same case for OSX on M1 with:
`Docker Compose version v2.3.3`
[code]

[2022-03-31 14:33] dR3b commented on #8871
Please push the image to Docker Hub now!

[2022-03-31 14:43] sBouzols commented on #8286
Hi,

Same problem here with version
[code]
I was trying nested interpolation -> [interpolation doc](https://github.com/compose-spec/compose-spec/blob/master/spec.md#interpolation)
and got the same error as above.

Even tried to set .env file with
[code]
and compose file with
[code]
and it didn't work either (I have no $PATH_VARIABLE exported in my terminal but I have $HOME)
I get :
[code]

Could y

[2022-03-31 15:04] #9316 closed

[2022-03-31 16:34] #9333 closed

[2022-03-31 19:33] ColeDCrawford commented on #3220
Yep, seeing this too.

[2022-04-01 10:05] ulyssessouza commented on #9304
Looks like this is already fixed in V2. I'll close it for now.
Please feel free to reopen/comment in case it didn't.

[2022-04-01 10:05] #9304 closed

[2022-04-01 10:33] thomasbley commented on #9104
For me the issue got fixed by using Docker Compose 2.4.0.
For bitbucket pipelines, I had to set "export DOCKER_BUILDKIT=0" in order to avoid the build error message "listing workers for Build: failed to list workers: Unavailable: connection error: desc = "transport: Error while dialing unable to upgrade to h2c, received 403".

[2022-04-01 10:36] codeboytj opened #9337 "How to create a fuse in pod, and let other pods use it?"
**Description**

I mount a fuse in pod A, and share it to pod B by use the same volume. But when pod B write files to the volume, pod A can not receive the write event.

**Steps to reproduce the issue:**
1. create volume fuse-log in docker-compose
2. create service A use volume fuse-log:
[code]
3. create service B use volume fuse-log too:
[code]
4. When I write something in /data/fuselog in pod A,

[2022-04-01 11:08] ulyssessouza commented on #9327
Actually what's happening is that it's just interpreting it as an inline comment.
To avoid that you can use double quotes to indicate that the "#" makes part of the value and not an inline comment.
That would be like:

[code]

[2022-04-01 11:35] mdiasribeiro opened #9338 "Newly added ssh option does not seem to work on up"
**Description**

Using the latest release version (2.4.0) to test the new ssh agent build capabilities. It works when I `build` directly but not when the container is built as part of `up`.

**Steps to reproduce the issue:**
1. Have an image that requires ssh agent (previously had to be built using `DOCKER_BUILDKIT=1 docker build --ssh default ...`)
2. Changed the compose file to include the new s

[2022-04-01 12:00] Luc45 commented on #663
The newly added `--wait` flag in Docker Compose v2 is the way to go, but if you are stuck with docker-compose v1, this bogus service will achieve a similar result:

[code]

[2022-04-01 12:01] Luc45 commented on #8351
The newly added `--wait` flag in Docker Compose v2 is the way to go, but if you are stuck with docker-compose v1, this bogus service will achieve a similar result:

[code]

[2022-04-01 12:16] mrfy commented on #8630
Thank you @nathan-osman ! 👍

[2022-04-01 13:53] vivekvedant opened #9340 "Unable to added external secrets using docker-compose"
### Description:
Unable to added external secrets using docker-compose

### Output of error
![image](https://user-images.githubusercontent.com/38762444/160899092-3d5ea291-7823-48c0-9b36-ecb965a96711.png)

### Output of secrets in docker
![image](https://user-images.githubusercontent.com/38762444/160899649-18349b36-6898-452c-8dd0-5404668319b2.png)

### container containing secrets
[code]

_Original

[2022-04-01 17:01] yurinogueira commented on #9314
I'm also having this problem.

Docker version  20.10.14
Docker Compose version 2.3.4